<tr id="row_<%= @equipo_seguridad.id %>_edit">
  <td class="lista-form" colspan="8">

    <%= form_title_edit @equipo_seguridad.modelo %>

    <%= error "row_#{@equipo_seguridad.id}" %>

    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :id_equipo => @equipo_seguridad.id, :id=>@visita} ) do -%>
    <%= render :partial => 'form' %>
    <%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.cancelar')),
      :method=>:get,
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :cancel_edit, :id_equipo=>@equipo_seguridad.id,:id=>@visita}) -%>
  </td>
</tr>
</table>
<% end -%>
</td>
</tr>

