<script type="text/javascript">

  function cerrar()
  {
    window.close();
  }

</script>
<% @view = true %>
<div class="marco-titulo"><div><div>
      <%= I18n.t('Sistema.Body.Vistas.General.consultando') %> <%= "#{I18n.t('Sistema.Body.General.beneficiario')} #{I18n.t('Sistema.Body.General.natural')}" %> <span class="titulo_modificar">'<%= @persona.primer_nombre + ' ' + @persona.primer_apellido %>'</span>
    </div></div></div>

<%= render :partial=>'clientes/cliente_persona/common/tabs' %>

<div class="marco-contenido2">

  <div id="list">
    <br/>
    <%= render :partial=>"list_view"  %>
  </div>
  <% unless params[:popup] == 'true' %>
    <%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.cerrar')),
      { :controller => 'cliente_persona', :action => :index, :popup=>params[:popup] },
      { :id=>'button_close' } ) -%>
  <% else %>
    <%= image_tag(I18n.t('Sistema.Body.Imagenes.cerrar'),:title=>'Agregar', :onclick=>"javascript:cerrar();", :OnMouseOver=>"style.cursor='pointer'" ) %>
  <% end %>

</div>