<%= form_title_new %>

<div class="marco-contenido2">

  <%=

    if @cliente.class.to_s=='ClienteEmpresa'
      render 'juridica'
    else
      render 'natural'
    end
  %>


  <div align="center">

    <table>
      <tr>
        <td style="font-family: verdana; font-size: 14px; background-color: #D7D7D7; font-weight: bold;color: #000; padding-left: 10px; width: 200px; text-align: center">
          <label>
            <%= @gestion.tipo_gestion_cobranzas.descripcion unless @gestion.tipo_gestion_cobranzas.nil? %>
          </label>
        </td>


    </table>

    <br>
    <br>

    <% if @gestion.tipo_gestion_cobranza_id == 3 %>
      <div id = 'telecobranzas' align="left" style="border:1px; border-color: #000; border-style: solid; width: 80%; padding-left: 4px;">

        <%= render 'telecobranzas' %>
      </div>
    <% end %>
  </div>


  <br>
</div>
<br>
<br>
<br>

<%= link_to( image_tag(image_path(I18n.t('Sistema.Body.Imagenes.cerrar'))),
               {  },
               { :id=>'buton_cerrar',:onclick=>"window.close();return false;" } ) -%>
  
<br>
<br>
<br>
