

<table>
  <tr>
    <td style="width: 135px">
      <label><%= "#{I18n.t('Sistema.Body.Vistas.General.nombre')} #{I18n.t('Sistema.Body.Vistas.General.rubro')}"%></label>
    </td>
    <td >
      <%unless @actividad.id.nil? || @actividad.id.to_s.empty?%>
        <%= @actividad.sub_rubro.rubro.nombre %>
      <%else%>
        <%= @sub_rubro.rubro.nombre %>
      <%end%>
    </td>
  </tr>
  <tr>
    <td style="width: 135px">
      <label><%= "#{I18n.t('Sistema.Body.Vistas.General.nombre')} #{I18n.t('Sistema.Body.Vistas.General.sub_rubro')}"%></label>
    </td>
    <td>
      <%unless @actividad.id.nil? || @actividad.id.to_s.empty?%>
        <%= @actividad.sub_rubro.nombre %>
      <%else%>
        <%= @sub_rubro.nombre %>
      <%end%>
    </td>
  </tr>
  <tr>
    <td style="width: 135px">
      <label><%= I18n.t('Sistema.Body.Vistas.General.codigo')%>
      <label title="<%=I18n.t('Sistema.Body.Vistas.General.obligatorio')%>" class="requerido"> (*) </label>
    </td>
    <td>
      <%= text_field 'actividad', 'codigo', :class=>'text', :style=>'width: 100px', :maxlength=>'20',
        :onkeypress=>'inputChange();'-%>
    </td>
  </tr>
  <tr>
    <td style="width: 135px">
      <label><%=I18n.t('Sistema.Body.Vistas.General.nombre')%></label>
      <label title="<%=I18n.t('Sistema.Body.Vistas.General.obligatorio')%>" class="requerido"> (*) </label>
    </td>
    <td>
      <%= text_field 'actividad', 'nombre',
        :class=>'text', :style=>'width: 600px;',
        :maxlength=>'150', :onKeyUp=>'textCounter(this,150)',
        :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>
  <tr>
    <td style="width: 135px">
      <label><%=I18n.t('Sistema.Body.Vistas.Form.descripcion')%></label>
    </td>
    <td>
      <%= text_area 'actividad', 'descripcion',
        :class=>'text', :style=>'width: 600px; height: 100px',
        :onKeyUp=>'textCounter(this,300)', :onkeypress=>'inputChange();' -%>
    </td>
  </tr>
  <%unless @sub_sector.nil?%>
    <%if @sub_sector.nemonico == 'VE'%>
      <tr>
        <td style="width: 135px">
          <label><%="#{I18n.t('Sistema.Body.Vistas.General.ciclo')} #{I18n.t('Sistema.Body.Vistas.General.productivo')}" %> </label>
          <label title="<%=I18n.t('Sistema.Body.Vistas.General.obligatorio')%>" class="requerido"> (*) </label>
        </td>
        <td>
          <%= select(
            'actividad', 'ciclo_productivo_id',
            @ciclo_productivo_select.map{|i| [i.nombre, i.id]},
            {:prompt=>'Seleccione un Ciclo'},
            { :class=>'select', :onchange=>'inputChange();' } ) %>
        </td>
      </tr>
    <%end%>
  <%end%>

  <tr>

    <td valign="top">
      <label><%= t('Sistema.Body.Vistas.Actividad.Etiquetas.plazo_ciclo') %></label>
    </td>

    <td>

      <table>

        <tr>

          <td>
            <%= radio_button 'actividad', 'plazo_ciclo', "C",
                             :class=>'text', :onclick=>'inputChange();'  -%>
          </td>

          <td style="text-align: left">
            <label><%= t('Sistema.Body.Vistas.Actividad.Etiquetas.corto_plazo') %></label>
          </td>

        </tr>

        <tr>

          <td>
            <%= radio_button 'actividad', 'plazo_ciclo', "L",
                             :class=>'text', :onclick=>'inputChange();'  -%>
          </td>

          <td style="text-align: left">
            <label><%= t('Sistema.Body.Vistas.Actividad.Etiquetas.largo_plazo') %></label>
          </td>

        </tr>
      </table>
  <tr>
    <td style="width: 135px">
      <label><%="#{I18n.t('Sistema.Body.Vistas.General.costo_fijo')}"%></label>
    </td>
    <td>
      <%= check_box 'actividad', 'paquetizado',
        :checked_value=>"1", :checked_defaul => "true",
        :unchecked_value=>"0", :onclick=>'inputChange();'
      -%>
    </td>
  </tr>
  <tr>
    <td style="width: 135px">
      <label><%=I18n.t('Sistema.Body.Vistas.General.activo')%></label>
    </td>
    <td>
      <%= check_box 'actividad', 'activo',
        :checked_value=>"1",
        :unchecked_value=>"0", :onclick=>'inputChange();'
      -%>
    </td>
  </tr>
</table>
