<div class="marco-titulo"><div><div>
	Modificando Cuenta Contable <span class="titulo_modificar">'<%= @cuenta_contable.codigo + ' - ' + @cuenta_contable.nombre %>'</span>
</div></div></div>

<%= render :partial=>'contabilidad/cuenta_contable/common/tabs' %>
<div class="marco-contenido2">

	<div class="marco-boton-in" id="button_new">
	  <%= link_to_remote( 
	  	image_tag(I18n.t('Sistema.Body.Imagenes.agregar')), 
		  :loading =>'image_load()',
	    :loaded => 'image_unload()',
	  	:url => { :action => :new, :cuenta_contable_id=>@cuenta_contable.id } ) %>
	</div>
	
	<%= error %>
	<%= message %>

	<div class="lista-form" id="form_new" style="display: none"></div>

	<div id="list">
		<%= render :partial=>"list" %>
	</div>
	
	<%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.cerrar')),
		{ :controller=> 'cuenta_contable', :action => :index },
		{ :id=>'button_close' } ) -%>
	
</div>