
<table class="lista" style="width: 90%">
  <thead>
    <tr>
      <th style="width: 150px" <%= sort_class_helper('numero') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.numero'), 'numero', 'list' %>
      </th>
      <th style="width: 80px" <%= sort_class_helper('tipo') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.tipo'), 'tipo', 'list' %>
      </th>
      <th style="width: 130px" <%= sort_class_helper('fecha_apertura') %>>
        <%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.Form.fecha')} #{I18n.t('Sistema.Body.Vistas.General.de')} #{I18n.t('Sistema.Body.Vistas.General.apertura')}", 'fecha_apertura', 'list' %>
      </th>
      <th style="width: 245px" <%= sort_class_helper('entidad_financiera_id') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.entidad_financiera'), 'entidad_financiera_id', 'list' %>
      </th>
      <th style="width: 50px">
        <%= I18n.t('Sistema.Body.Vistas.General.activa') %>
      </th>
      <th style="width: 50px">
        <%= I18n.t('Sistema.Body.Vistas.General.auditoria') %>
      </th>
      <th style="width: 40px"><%= I18n.t('Sistema.Body.Vistas.General.acciones') %></th>
    </tr>
  </thead>
  <tbody id="list_body">
    <%  
    even_odd = 1
    for cuenta_bancaria in @list
      even_odd = 1 - even_odd %>
      <%= render :partial => 'row', :locals => { :cuenta_bancaria => cuenta_bancaria, :even_odd => even_odd } -%>
    <% end %>
  </tbody>
</table>
<% if @count_cuenta > 1 %>
  <div class="lista-paginas">
    Página de resultados
    <%= pagination_links_remote @pages, 'list' %>
  </div>
<% end %>
<div class="lista-total">
  <%= @total %> registros en total
</div>
