<div class="marco-titulo"><div><div>
      <%= I18n.t('Sistema.Body.Vistas.General.modificando') %> <%= "#{I18n.t('Sistema.Body.General.beneficiario')} #{I18n.t('Sistema.Body.General.natural')}" %> <span class="titulo_modificar">'<%= @persona.nombre_corto %>'</span>
    </div></div></div>

<%= render :partial=>'clientes/cliente_persona/common/tabs' %>
<div class="marco-contenido2">

  <% unless @count_cuenta > 0 %>
    <div class="marco-boton-in" id="button_new">
      <%= link_to(image_tag(I18n.t('Sistema.Body.Imagenes.agregar')),
        :action => 'new', :persona_id => @persona.id, :popup=>params[:popup] ) if vlink 'new' %>
    </div>
  <% end %>

  <%= error %>
  <%= message %>
  <br>
  <div id="list">
    <%= render :partial=>"list" %>
  </div>

  <%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.cerrar')),
    { :controller => 'cliente_persona', :action => :index, :popup=>params[:popup] },
    { :id=>'button_close' } ) -%>

</div>