<tr id="row_<%= @stock_maquinaria.id %>_edit">
  <td class="lista-form" colspan="7">

    <%= form_title_edit @stock_maquinaria.tipo_maquinaria.nombre %>

    <%= error "row_#{@stock_maquinaria.id}" %>

    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :id => @stock_maquinaria.id } ) do -%>

    <%= render :partial => 'form' %>
    <%= link_to_remote(
      image_tag(I18n.t('Sistema.Body.Imagenes.cancelar')),
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :method =>:get,
      :url => { :action => :cancel_edit, :id => @stock_maquinaria.id}) -%>
  </td>
  <td></td>
  <td></td>
  <td></td>
</tr>
</table>
<% end -%>
</td>
</tr>
