<tr id="row_<%= @desembolso.id %>_edit">
	<td class="lista-form" colspan="4">
	
		
	
		<%= error "row_#{@desembolso.id}" %>
		
		<%= form_remote_tag(
		  :loading =>'image_load()',
		  :loaded => 'image_unload()',
          :method=>:get,
		  :url => { :action => :save_edit, :id => @desembolso.id } ) do -%>	
					<%= render :partial => 'desembolso_list' %>
					<%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.cancelar')),
					  :loading =>'image_load()',
					  :loaded => 'image_unload()',
                      :method=>:get,
                      :url => { :action => :cancel_edit, :id => @desembolso.id}) -%>
			   </td>			
		    </tr>
		  </table>
		<% end -%>
	</td>
</tr>
