<div class="marco-titulo"><div><div>
	<%=I18n.t('Sistema.Body.Vistas.General.modificando') << " " << I18n.t('Sistema.Body.Vistas.General.estado')%> <span class="titulo_modificar">'<%= @estado.nombre %>'</span> - <%=I18n.t('Sistema.Body.Vistas.General.region')%> <span class="titulo_modificar">'<%= @estado.region.nombre %>'</span> - <%=I18n.t('Sistema.Body.Vistas.General.pais')%> <span class="titulo_modificar">'<%= @estado.pais.nombre %>'</span>
</div></div></div>

<%= render :partial=>'basico/estado/common/tabs' %>
<div class="marco-contenido2">


	<div class="marco-boton-in" id="button_new">
		<%= link_to(image_tag(I18n.t('Sistema.Body.Imagenes.boton_agregar')),:action => 'new', :estado_id => @estado.id, :popup=>params[:popup] ) if vlink 'edit' -%>	
	</div>

	<%= error %>
	<%= message %>

	<div id="list">
		<%= render :partial=>"list" %>
	</div>
   <br>
	<%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.cerrar')),
		{ :controller => 'estado', :action => :index, :popup=>params[:popup] },
		{ :id=>'button_close' } ) -%>
</div>

