<%= form_title_new %>

             <div id='error'>
  	  <div id="errorExplanation" class="errorExplanation" style="display: none; text-align: left"></div>
        </div>

<%= form_remote_tag(
			:loading =>'image_load()',
			:loaded => 'image_unload()',
			:url => {:action => :save_new, :estado_id => @estado.id }) do-%>
		<%= render 'form' -%>

<br>
<%= image_submit_tag(I18n.t('Sistema.Body.Imagenes.guardar'), :onclick=>"if (varEnviado) { return false; } else {varEnviado = true;}", :id=>'button_save') -%>
&nbsp
<%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.cancelar')),
			  :loading =>'image_load()',
				:loaded => 'image_unload()',
				:method=>:get,
        :url => { :action => :cancel_new,  :estado_id => @estado.id}) -%>
			</td>

    </tr>

  </table>
<% end -%>

