<div class="marco-titulo"><div><div>
	<%=I18n.t('Sistema.Body.Vistas.Arrime.Etiquetas.modificando_acta_silo')%> <span class="titulo_modificar">'<%=I18n.t('Sistema.Body.Vistas.General.nro')%> <%= @acta_silo.nro_acta %>'</span>
</div></div></div>

<%= render :partial=>'basico/silo/common/tabs' %>

<div class="marco-contenido">
  <%= form_title_new %>

  <%= render :partial=>'basico/acta_silo/common/tabs' %>
  <div class="marco-contenido2">

    <%= error %>
    <%= message %>

    <%= form_remote_tag(
      :loading =>'image_load()', :loaded => 'image_unload()',
      :url => { :action => :save_new, :silo_id=>@silo.id, :acta_silo_id => @acta_silo.id, :popup=>params[:popup] } ) do -%>
    
    <%= render :partial => 'form' %>
    
    <%= form_buttons_edit :silo_id=>@silo.id, :acta_silo_id => @acta_silo.id, :popup=>params[:popup] %>
    <% end -%>
  </div>
</div>
