<% @view = true %>
<div class="marco-titulo">
  <div>
    <div>
      <%= I18n.t('Sistema.Body.Vistas.ProgramaGasto.Header.form_title_consultar')%>  <span class="titulo_modificar">'<%= @programa.alias %>'</span>
    </div>
  </div>
</div>

<%= render 'basico/programa/common/tabs' %>
<div class="marco-contenido2">

  <div class="marco-titulo">
    <div>
      <div>
        <%= I18n.t('Sistema.Body.Vistas.ProgramaGasto.Headers.consultar_gastos')%>
      </div>
    </div>
  </div>

  <div class="marco-contenido2">

  <div id="list">
    <%= render "list_view"  %>
  </div>

  <%= link_to( image_tag(image_path(I18n.t('Sistema.Body.Imagenes.cerrar'))),
    { :controller => 'programa_producto', :action => :view, :programa_id => @programa.id },
    { :id=>'button_close' } ) -%>


</div>
