<% item = @ciclo_productivo if item.nil? %>
<td style="text-align: center">
	<%= item.nombre %>
</td>
<td style="text-align: center">
	<%= item.descripcion %>
</td>
<td style="text-align: center">
	<%= item.mes_inicio_w %>
</td>

<td style="text-align: center">
	<%= item.mes_fin_w %>
</td>
<td style="text-align: center">
      <%= format_bool(item.activo)  %>
</td>

<td style="text-align: center">
	<%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.modificar')),
	  :loading =>'image_load()',
 	  :loaded => 'image_unload()',
 	  :method=>:get, 	  
		:url => {:controller => 'ciclo', :action => :edit, :id => item.id}) if vlink 'edit' -%>
	<%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.eliminar')),
	  :loading =>'image_load()',
 	  :loaded => 'image_unload()',
	:confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
		:url => {:controller => 'ciclo', :action => :delete, :id => item.id}) if vlink 'delete' -%>
</td>
