<table>
  <tr>
    <td style="width: 120px">
      <label><%= I18n.t('Sistema.Body.Vistas.General.sector') %></label>
    </td>
    <td >
      <% unless @sub_sector.id.nil? || @sub_sector.to_s.empty? %>
        <%= @sub_sector.sector.nombre %>
      <%else%>
        <%= @sector.nombre %>
      <%end%>
    </td>
  </tr>
  <tr>
    <td style="width: 120px">
      <label><%= I18n.t('Sistema.Body.Vistas.General.codigo') %></label>
      <label title="<%=I18n.t('Sistema.Body.Vistas.General.obligatorio')%>" class="requerido"> (*) </label>
    </td>
    <td>
      <%= text_field 'sub_sector', 'codigo', :class=>'text', :style=>'width: 100px', :maxlength=>'20',
        :onkeypress=>'inputChange();' -%>
    </td>
  </tr>
  <tr>
    <td style="width: 120px">
      <label><%= I18n.t('Sistema.Body.Vistas.General.nombre') %></label>
      <label title="<%=I18n.t('Sistema.Body.Vistas.General.obligatorio')%>" class="requerido"> (*) </label>
    </td>
    <td>
      <%= text_field 'sub_sector', 'nombre',
        :class=>'text', :style=>'width: 600px;',
        :maxlength=>'150', :onKeyUp=>'textCounter(this,150)',
        :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>
  <tr>
    <td style="width: 120px">
      <label><%= I18n.t('Sistema.Body.Vistas.Form.descripcion') %></label>
    </td>
    <td>
      <%= text_area 'sub_sector', 'descripcion',
        :class=>'text',
        :style=>'width: 600px; height: 100px',
        :onKeyUp=>'textCounter(this,300)', :onkeypress=>'inputChange();' -%>
    </td>
  </tr>

  <tr>
    <td>
      <label><%= I18n.t('Sistema.Body.Vistas.General.nemonico') %></label>
      <label title="<%=I18n.t('Sistema.Body.Vistas.General.obligatorio')%>" class="requerido"> (*) </label>
    </td>
    <td>
      <%= select(
        'sub_sector', 'nemonico',
        @nemonico_list.map{|e| ["#{e.nemonico} - #{e.nombre}", e.nemonico]},
        { :prompt=>I18n.t('Sistema.Body.Vistas.Form.seleccionar') },
        { :class=>'select',:onchange=>';inputChange();' } ) %>
    </td>
  </tr>

  <tr>
    <td style="width: 120px">
      <label><%= I18n.t('Sistema.Body.Vistas.General.activo') %></label>
    </td>
    <td>
      <%= check_box 'sub_sector', 'activo',
        :checked_value=>"1",
        :unchecked_value=>"0", :onclick=>'inputChange();'
      -%>
    </td>
  </tr>
</table>
