
<div class="marco-titulo">
  <div>
    <div>
      <%= I18n.t('Sistema.Body.Vistas.SubSector.Header.form_title')%><span class="titulo_modificar"></span>
    </div>
  </div>
</div>
<%= render :partial=>'basico/sector/common/tabs' %>
<div class="marco-contenido2">

  <div class="marco-boton-in" id="button_new">
   <%= link_to(image_tag(image_path(I18n.t('Sistema.Body.Imagenes.agregar'))), { :action => :new, :sector_id=>params[:sector_id]}) if vlink 'edit'-%>

    <%#= link_to(image_tag(I18n.t('Sistema.Body.Imagenes.agregar')),
    :action => "new", :sector_id=>@sector.id, :popup=>params[:popup] ) if vlink 'edit' %>
  </div>

  <%= error %>
  <%= message %>

  <div class="lista-form" id="form_new" style="display: none"></div>

  <div id="list">
    <%= render :partial=>"list" %>
  </div>

  <%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.cerrar')),
    { :controller=> 'sector', :action => :index },
    { :id=>'button_close' } ) -%>
</div>
