<% faenas_pesca = @faenas_pesca if faenas_pesca.nil? 
una_especie=TipoEspecieAcuicultura.find(faenas_pesca.tipo_especie_id) %>

<td align="center">
  <%= faenas_pesca.destino_captura  %>
</td>
<td align="center">
  <%= una_especie.nombre  %>
</td align="center">
<td align="center">
  <%= faenas_pesca.faenas_mensual %>
</td>
<td align="center">
  <%= faenas_pesca.captura_campana_fm %>
</td>
<td align="center">
  <%= faenas_pesca.captura_estimada_fm %>
</td>

<td style="text-align: right">
  <%= link_to_remote(
    image_tag(I18n.t('Sistema.Body.Imagenes.modificar')),
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :method=>:get,
    :url => {:controller => 'faenas_pesca', :action => :edit, :id_faena => faenas_pesca.id, :id => params[:id]}) if vlink 'edit' -%>&nbsp;
  <%= link_to_remote(
    image_tag(I18n.t('Sistema.Body.Imagenes.eliminar')),
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
    :url => {:controller => 'faenas_pesca', :action => :delete, :id => faenas_pesca.id}) if vlink 'delete' -%>
</td>

