
<div id="mensaje_porcentaje_topografias" style="display:none;background: #fcc;margin: 0px;border: solid 1px #f66;margin-bottom: 5px">
  <p><%= I18n.t('Sistema.Body.Vistas.General.coloque_porcentaje_guardar_selección') %></p>
</div>	

<table border=0>
  <% lista = 'lista0'
  @tipo_topografia.each { |i| %>
    <tr>
      <td>

        <%= check_box 'recaudo_check', i.id,
        {:checked=>i.marcado, :onchange=>"inputChange();actualizar_topografia(#{i.id})", :name => "condiciones_tipo_topografia[]", :id => "tipo_topografia_#{i.id}" }  %>

        &nbsp;

        <%= i.nombre %>
      </td>
      <td>      

        <input class="text" id="condiciones_tipo_topografia_porcentaje_<%= i.id %>" 
               value = "<%= i.porcentaje %>" 
               size="5" 
               style="width: 40px;" 
               type="text"
               maxlength="5" name="condiciones_tipo_topografia_porcentaje[<%= i.id %>]" 
               onchange="inputChange();document.getElementById('tipo_topografia_<%= i.id %>').checked = 'checked';
            new Ajax.Request('/solicitudes/solicitud_pre_evaluacion_condicion_acuicultura/save_topografias', 
            {asynchronous:true, evalScripts:true, onLoaded:function(request){Element.hide(&quot;loading&quot;)}, 
              onLoading:function(request){Element.show(&quot;loading&quot;)}, 
              parameters:'authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>') + '&id=<%= i.id %>&unidad_produccion_condicion_acuicultura_id=<%= @unidad_produccion_condicion_acuicultura.id %>&porcentaje='+condiciones_tipo_topografia_porcentaje_<%= i.id %>.value});
            document.getElementById('mensaje_porcentaje_topografias').style.display = 'none';"  > %


      </td>
    </tr>
    <% if i.nombre == '[Otro]' %>
      <tr><td></td>
        <td>
          <%= text_field 'i', 'descripcion_otro_topografia',
          :value=>i.descripcion_otro,
          :class=>'text',
          :style=>'width: 150px',
          :onchange=>onchange="document.getElementById('tipo_topografia_#{i.id}').checked = 'checked'; new Ajax.Request('/solicitudes/solicitud_pre_evaluacion_condicion_acuicultura/save_topografias', {asynchronous:true, evalScripts:true, onLoaded:function(request){Element.hide(&quot;loading&quot;)}, onLoading:function(request){Element.show(&quot;loading&quot;)}, parameters:'id=#{i.id}&unidad_produccion_condicion_acuicultura_id=#{@unidad_produccion_condicion_acuicultura.id}&actualizar='+this.value+'&porcentaje='+condiciones_tipo_topografia_porcentaje_#{i.id}.value})",
          :onkeypress=>'inputChange();'  -%>
        </td>
      </tr>
    <% end %>
  <% } %>

</table>