<script type="text/javascript">

  function cerrar()
  {
    window.close();
  }

</script>

<%= form_title_view @empresa.alias %>

<%= render :partial=>'clientes/cliente_empresa/common/tabs' %>
<div class="marco-contenido2">
  <table style="width: 100%">
    <tr>
      <td class="separador" valign="bottom" colspan="2">
        <span><%= I18n.t('Sistema.Body.Vistas.General.identificacion') %></span>
      </td>
    </tr>
    <tr>
      <td>
        <% unless @empresa.numero.nil? -%> <label><%= "#{I18n.t('Sistema.Body.Vistas.General.numero')} #{I18n.t('Sistema.Body.Vistas.General.de')} #{I18n.t('Sistema.Body.General.beneficiario')}" %><% end -%>
      </td>
      <td>
        <%= @empresa.numero unless @empresa.numero.nil? -%>
      </td>
    </tr>
    <% unless @empresa.id.nil?%>
      <tr>
        <td style="width: 25%">
          <label>多<%= I18n.t('Sistema.Body.Vistas.General.beneficiario_puede_solicitar_financiamiento') %>?</label> 
        </td>
        <td style="width: 50%">
          <%=Cliente.find_by_empresa_id(@empresa.id).viable ? "<label>SI</label>".html_safe : "<label style='color: red'>NO</label>".html_safe unless Cliente.find_by_empresa_id(@empresa.id).nil? %>
        </td>
      </tr>

      <tr>
        <td style="width: 25%">
          <label>多<%= I18n.t('Sistema.Body.Vistas.General.beneficiario_esta_solvente') %>?</label> 
        </td>
        <td style="width: 50%">
          <%=!Cliente.find_by_empresa_id(@empresa.id).moroso ? "<label >SI</label>".html_safe : "<label style='color: red'>NO</label>".html_safe unless Cliente.find_by_empresa_id(@empresa.id).nil? %>
        </td>
      </tr>

      <tr>
        <td style="width: 25%">
          <label>多<%= I18n.t('Sistema.Body.Vistas.General.beneficiario_reestructuro_deuda') %>?</label> 
        </td>
        <td style="width: 50%">
          <%=Cliente.find_by_empresa_id(@empresa.id).reestructurado ? "<label style='color: red'>SI</label>".html_safe : "<label>NO</label>".html_safe unless Cliente.find_by_empresa_id(@empresa.id).nil? %>
        </td>
      </tr>
    <%end%>

    <tr>
      <td style="width: 25%">
        <label><%= "#{I18n.t('Sistema.Body.Vistas.General.nro')} #{I18n.t('Sistema.Body.Vistas.General.rif')}" %></label>
      </td>
      <td style="width: 75%">
        <%= @empresa.rif %>
      </td>
    </tr>

    <tr>
      <td>
        <label><%= "#{I18n.t('Sistema.Body.Vistas.General.numero')} #{I18n.t('Sistema.Body.Vistas.General.de')} #{I18n.t('Sistema.Body.Vistas.General.registro')} #{I18n.t('Sistema.Body.Vistas.General.cicom')}" %></label>
      </td>
      <td>
        <%= @empresa.numero_sunacop %>
      </td>
    </tr>

    <tr>
      <td>
        <label><%= "#{I18n.t('Sistema.Body.Vistas.Form.fecha')} #{I18n.t('Sistema.Body.Vistas.General.registro')} #{I18n.t('Sistema.Body.Vistas.General.cicom')}" %></label>
      </td>
      <td>
        <%= @empresa.fecha_constitucion_f %>
      </td>
    </tr>

    <tr>
      <td>
        <label><%= "#{I18n.t('Sistema.Body.Vistas.General.tipo')} #{I18n.t('Sistema.Body.Vistas.General.de')} #{I18n.t('Sistema.Body.General.beneficiario')}" %></label>
      </td>
      <td>
        <%= @empresa.cliente_empresa.tipo_cliente.nombre %>
      </td>
    </tr>

    <tr>
      <td>
        <label><%= "#{I18n.t('Sistema.Body.Vistas.Form.nombre')} #{I18n.t('Sistema.Body.Vistas.General.abreviado')}" %></label>
      </td>
      <td>
        <%= @empresa.alias %>
      </td>
    </tr>
    <tr>
      <td>
        <label><%= "#{I18n.t('Sistema.Body.Vistas.Form.nombre')} #{I18n.t('Sistema.Body.Vistas.General.del')} #{I18n.t('Sistema.Body.General.beneficiario')}" %></label>
      </td>
      <td>
        <%= @empresa.nombre %>
      </td>
    </tr>

    <tr>
      <td>
        <label><%= "#{I18n.t('Sistema.Body.Vistas.General.cantidad')} #{I18n.t('Sistema.Body.Vistas.General.de')} #{I18n.t('Sistema.Body.Vistas.General.miembros')}" %></label>
      </td>
      <td>
        <%= @empresa.cant_miembros %>
      </td>
    </tr>

    <tr>
      <td>
        <label><%= "#{I18n.t('Sistema.Body.Vistas.General.cantidad')} #{I18n.t('Sistema.Body.Vistas.General.de')} #{I18n.t('Sistema.Body.Vistas.General.familias')}" %></label>
      </td>
      <td>
        <%= @empresa.numero_familias %>
      </td>
    </tr>

    <tr>
      <td>
        <label><%= "#{I18n.t('Sistema.Body.Vistas.General.cantidad')} #{I18n.t('Sistema.Body.Vistas.General.de')} #{I18n.t('Sistema.Body.Vistas.General.viviendas')}" %></label>
      </td>
      <td>
        <%= @empresa.numero_viviendas %>
      </td>
    </tr>

    <tr>
      <td>
        <label><%= "#{I18n.t('Sistema.Body.Vistas.General.cantidad')} #{I18n.t('Sistema.Body.Vistas.General.de')} #{I18n.t('Sistema.Body.Vistas.General.productores')} #{I18n.t('Sistema.Body.Vistas.General.beneficiados')}" %></label>
      </td>
      <td>
        <%= @empresa.cant_productores %>
      </td>
    </tr>

    <tr>
      <td style="width: 20%">
        <label>多<%= I18n.t('Sistema.Body.Vistas.General.beneficiario_dedica_pesca') %>?</label>
      </td>
      <td>
        <% if @empresa.cliente_empresa.es_pescador == true %>
          <%= image_tag('activo.gif') %>
        <% elsif @empresa.cliente_empresa.es_pescador == false %>
          <%= image_tag('inactivo.gif') %>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        <label><%= "#{I18n.t('Sistema.Body.Vistas.General.objeto')} #{I18n.t('Sistema.Body.Vistas.General.del')} #{I18n.t('Sistema.Body.General.beneficiario')}" %></label>
      </td>
      <td>
        <%= @empresa.objeto %>
      </td>
    </tr>

    <tr height="10"><td colspan="2"></td></tr>
  </table>

  <% unless params[:popup] == 'true' %>
    <%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.cerrar')),
      { :action => :index, :popup=>params[:popup] },
      { :id=>'button_close' } ) -%>
  <% else %>
    <%= image_tag(I18n.t('Sistema.Body.Imagenes.cerrar'),:title=>'Agregar', :onclick=>"javascript:cerrar();", :OnMouseOver=>"style.cursor='pointer'" ) %>
  <% end %>
</div>