<table class="lista" style="width: 99%">
  <thead>
    <tr>
      <th style="width: 30%" style="text-align: center" <%= sort_class_helper('tipo') %>>
              <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.tipo'), 'tipo', 'list' %>
      </th>

      <th style="width: 40%" style="text-align: center" <%= sort_class_helper('descripcion') %>>
              <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.descripcion'), 'descripcion', 'list' %>
      </th>

      <th style="width: 20%" style="text-align: center" <%= sort_class_helper('activo') %>>
              <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.activo'), 'activo', 'list' %>
      </th>

      <th style="width: 10%" style="text-align: center">
              <%=I18n.t('Sistema.Body.Vistas.General.acciones')%>
      </th>
    </tr>
  </thead>

  <tbody id="list_body">
    <%  even_odd = 1
        for item in @list
                  even_odd = 1 - even_odd %>
          <%= render :partial => 'row', :locals => { :item => item, :even_odd => even_odd } -%>
        <% end %>
  </tbody>
</table>
<%= form_pagination %>

