<% causa_diferimiento = @causa_diferimiento if causa_diferimiento.nil? %>
<td>
	<%= causa_diferimiento.nombre  %>
</td>	
<td>
	<%= causa_diferimiento.descripcion  %>
</td>	
<td style="text-align: center">
	<%= format_bool(causa_diferimiento.activo)  %>
</td>	
<td style="text-align: right">
	<%= link_to_remote(
		image_tag(I18n.t('Sistema.Body.Imagenes.modificar')),
	  :loading =>'image_load()',
 	  :loaded => 'image_unload()',
    :method =>:get,
		:url => {:controller => 'causa_diferimiento', :action => :edit, :id => causa_diferimiento.id} ) if vlink 'edit' -%>
	<%= link_to_remote(
		image_tag(I18n.t('Sistema.Body.Imagenes.eliminar')),
	  :loading =>'image_load()',
 	  :loaded => 'image_unload()',
	:confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
		:url => {:controller => 'causa_diferimiento', :action => :delete, :id => causa_diferimiento.id}) if vlink 'delete' -%>
		
</td>
