

<div class="marco-contenido">
  <%= form_title_search %>

  <%= form_remote_tag(
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :method=>:get,
    :url => { :action => :list } ) do -%>
      <table>
      <tr>
        <td style="width: 175px" >
          <label>
            <%= "#{t('Sistema.Body.Vistas.General.numero')} #{t('Sistema.Body.Vistas.General.solicitud')}" %>
          </label>
        </td>
        <td style="width: 200px" align="left">
          <%= text_field_tag 'nro_solicitud', '', :class=>'text', :maxlength=>'8', :style=>'width: 100px'  %>
        </td>
        <td>
          <%= image_submit_tag(image_path(t('Sistema.Body.Imagenes.buscar'))) -%>
        </td>
      </tr>
    </table>
  <% end %>
    <%= form_remote_tag(
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :method=>:get,
    :url => { :action => :list } ) do -%>
      <table>
      <tr>
        <td style="width: 175px">
          <label>
            <%= "#{t('Sistema.Body.Vistas.General.numero')} #{t('Sistema.Body.Vistas.General.prestamo')}" %>
          </label>
        </td>
        <td style="width: 200px" align="left">
          <%= text_field_tag 'nro_prestamo', '', :class=>'text', :maxlength=>'10', :style=>'width: 100px'  %>
        </td>
        <td>
          <%= image_submit_tag(image_path(t('Sistema.Body.Imagenes.buscar')))  -%>
        </td>
      </tr>
    </table>
  <% end %>
  <%= form_remote_tag(
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :method=>:get,
    :url => { :action => :list } ) do -%>
      <table>
      <tr>
        <td style="width: 175px">
          <label title=<%= t('Sistema.Body.Vistas.Form.ejemplo_documento') %>>
          <%= "#{t('Sistema.Body.Vistas.General.numero')} #{t('Sistema.Body.Vistas.VisitaSolicitud.Etiquetas.cedula_rif')}" %>
          </label>
        </td>
        <td style="width: 200px" align="left">

        <select name="tipo" id="tipo" class="select">
            <option value="V "><%= t('Sistema.Body.General.TipoDocumento.venezolano') %></option>
            <option value="E "><%= t('Sistema.Body.General.TipoDocumento.extranjero') %></option>
            <option value="J-"><%= t('Sistema.Body.General.TipoDocumento.juridico') %></option>
            <option value="G-"><%= t('Sistema.Body.General.TipoDocumento.gobierno') %></option>
          </select>

          <%= text_field_tag 'identificacion', '', :class=>'text', :maxlength=>'10', :style=>'width: 100px'  %>
        </td>
        <td>
          <%= image_submit_tag(image_path(t('Sistema.Body.Imagenes.buscar')))  -%>
        </td>
      </tr>
    </table>
  <% end %>

  <%= form_remote_tag(
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :method=>:get,
    :url => { :action => :list } ) do -%>
      <table>
        <tr>
        <td style="width: 180px">
          <label>
            <%= "#{t('Sistema.Body.Vistas.General.nombre')} #{t('Sistema.Body.Vistas.General.beneficiario')}" %>
          </label>
        </td>
        <td>
          <%= text_field_tag 'nombre', '', :class=>'text', :maxlength=>'150', :style=>'width: 400px'  %>
        </td>
        <td>
          <%= image_submit_tag(image_path(t('Sistema.Body.Imagenes.buscar')))  -%>
        </td>
      </tr>
    </table>
  <% end %>

  <%= error %>
  <%= message %>

  <div id="list">
  </div>
</div>
