<% causa_rechazo = @causa_rechazo if causa_rechazo.nil? %>
<td>
	<%= causa_rechazo.nombre  %>
</td>	
<td>
	<%= causa_rechazo.descripcion  %>
</td>	
<td style="text-align: center">
	<%= format_bool(causa_rechazo.activo)  %>
</td>	
<td style="text-align: right">
	
	
	<%= link_to_remote(
		image_tag(I18n.t('Sistema.Body.Imagenes.modificar')),
	  :loading =>'image_load()',
 	  :loaded => 'image_unload()',
    :method =>:get,
		:url => {:controller => 'causa_rechazo', :action => :edit, :id => causa_rechazo.id} ) if vlink 'edit' -%>
	<%= link_to_remote(
		image_tag(I18n.t('Sistema.Body.Imagenes.eliminar')),
	  :loading =>'image_load()',
 	  :loaded => 'image_unload()',
	:confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
		:url => {:controller => 'causa_rechazo', :action => :delete, :id => causa_rechazo.id}) if vlink 'delete' -%>
	
	
</td>
