
<table class="lista" style="width: 100%">
  <thead>
  <tr>
    <th style="width: 180px" <%= sort_class_helper('nombre') %>>
      <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.titulo'), 'nombre', 'item_atributo_list' %>
      </th>
    <th style="width: 400px" <%= sort_class_helper('descripcion') %>>
      <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.descripcion'), 'descripcion', 'item_atributo_list' %>
      </th>
    <th style="width: 50px" <%= sort_class_helper('activo') %>>
      <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.activo'), 'activo', 'item_atributo_list' %>
      </th>
  </tr>
  </thead>
  <tbody id="list_body">
    <%  
      even_odd = 1
      for item_atributo in @list
        even_odd = 1 - even_odd %>

      <% item_atributo = @item_atributo if item_atributo.nil? %>
      <tr class="lista<%= even_odd %>" id="row_<%= item_atributo.id %>">
        <td>
          <%= item_atributo.nombre  %>
        </td>
        <td>
          <%= item_atributo.descripcion %>
        </td>
        <td>
          <%= format_bool item_atributo.activo  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_pagination %>
