<tr id="row_<%= @configuracion_avance.id %>_edit">
	<td class="lista-form" colspan="7">
	
		<%= form_title_edit @configuracion_avance.ruta_primaria %>
	
		<%= error "row_#{@configuracion_avance.id}" %>
	
		<%= form_remote_tag(
		  :loading =>'image_load()',
			:loaded => 'image_unload()',
		  :url => { :action => :save_edit, :id => @configuracion_avance.id } ) do-%>
					<%= render 'form' -%>
					<%= link_to_remote(
		        image_tag(I18n.t('Sistema.Body.Imagenes.cancelar')),
		        :method => :get,
					  :loading =>'image_load()',
						:loaded => 'image_unload()',
						:onclick => 'mostrar_filtros();',
		        :url => { :action => :cancel_edit, :id => @configuracion_avance.id}) -%>
			   </td>
		    </tr>
		  </table>
		<% end -%>
	</td>
</tr>
