<table class="lista" style="width: 100%">
  <thead>
    <tr>
      <th style="width: 35%" <%= sort_class_helper('opcion.nombre') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Modelos.OpcionAccion.Errores.opcion'), 'opcion.nombre', 'list' %>
      </th>
      <th style="width: 35%" <%= sort_class_helper('accion.nombre') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Modelos.OpcionAccion.Errores.accion'), 'accion.nombre', 'list' %>
      </th>
      <th style="width: 20%" >
        <%=I18n.t('Sistema.Body.Modelos.OpcionAccion.Errores.tiempo_vencimiento')%>
      </th>
      <th style="width: 10%">
        <%= I18n.t('Sistema.Body.Vistas.General.acciones')%>
      </th>
    </tr>		
  </thead>
  <tbody id="list_body">
    <%  
    even_odd = 1
    for opcion_accion in @list
      even_odd = 1 - even_odd %>
      <%= render :partial => 'row', :locals => { :opcion_accion => opcion_accion, :even_odd => even_odd } -%>
    <% end %>
  </tbody>
</table>

<%= form_pagination %>