<tr id="row_<%= @caso_medida.id %>_edit">
  <td class="lista-form" colspan="5">

    <%= form_title_edit @caso_medida.nombre %>

    <%= error "row_#{@caso_medida.id}" %>

    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :id => @caso_medida.id } ) do -%>
    <%= render 'form' %>
    <%= link_to_remote(
      image_tag(image_path(I18n.t('Sistema.Body.Imagenes.cancelar'))),
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :cancel_edit, :id => @caso_medida.id}) -%>
  </td>
</tr>
</table>
<%end -%>
</td>
</tr>
