<table class="lista" style="width: 100%;">
    <thead>
      <tr>
        <th style="width: 80px" <%= sort_class_helper('numero_guia') %>>
          <%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.General.nro')} #{I18n.t('Sistema.Body.Vistas.General.orden')}", 'numero_guia', 'list' %>
        </th>

         <th style="width: 20px" <%= sort_class_helper('fecha_envio') %>>
          <%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.Form.fecha')} #{I18n.t('Sistema.Body.Vistas.Form.envio')}", 'fecha_envio', 'list' %>
        </th>        
         <th style="width: 20px" <%= sort_class_helper('fecha_llegada') %>>
          <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Catalogo.Etiquetas.fecha_llegada'), 'fecha_llegada', 'list' %>
        </th>
        
        <th style="width: 100px" <%= sort_class_helper('origen') %>>
          <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.origen'), 'origen', 'list' %>
        </th>
        <th style="width: 100px" <%= sort_class_helper('destino') %>>
          <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.destino'), 'destino', 'list' %>
        </th>

        <th style="width: 40px" <%= sort_class_helper('cedula_rif') %>>
          <%= sort_link_helper I18n.t('Sistema.Body.Vistas.VisitaSolicitud.Etiquetas.cedula_rif'), 'cedula_rif', 'list' %>
       </th>

        <th style="width: 150px" <%= sort_class_helper('beneficiario') %>>
          <%= sort_link_helper I18n.t('Sistema.Body.General.beneficiario'), 'beneficiario', 'list' %>
       </th>


          <th style="width: 30px" <%= sort_class_helper('estatus') %>>
          <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.estatus'), 'estatus', 'list' %>
        </th>     

       
        <th style="width: 40px"><%= I18n.t('Sistema.Body.Vistas.General.acciones')%></th>
      </tr>

  </thead>
	<tbody id="list-body">
<%
	even_odd = 1
	for consulta_orden_despacho in @list
		even_odd = 1 - even_odd %>
	<%= render :partial => 'row', :locals => { :consulta_orden_despacho => consulta_orden_despacho, :even_odd => even_odd } -%>
<% end %>
</tbody>
</table>

<%= form_pagination %>
