<tr id="row_<%= @sector_tecnico.id %>_edit">
  <td class="lista-form" colspan="4">
    <%= form_title_edit @sector_tecnico.sector.nombre %>

    <%= error "row_#{@sector_tecnico.id}" %>

    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :id => @sector_tecnico.id,:tecnico_campo_id => @sector_tecnico.tecnico_campo_id } ) do %>
      <%= render :partial => 'form' %>
      <%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.cancelar'), :title=>I18n.t('Sistema.Body.Vistas.General.cancelar')),
        :loading =>'image_load()',
        :loaded => 'image_unload()',
        :method => :get,
        :url => { :action => :cancel_edit, :id => @sector_tecnico.id, :tecnico_campo_id => @sector_tecnico.tecnico_campo_id}) -%>
    </td>
  </tr>
  </table>
<% end %>
</td>
</tr>
