<div class="marco-titulo"><div><div>
      <%= I18n.t('Sistema.Body.Vistas.SectorTecnico.Etiquetas.modificando_tecnico') %>  <span class="titulo_modificar">'<%= @tecnico_campo.primer_nombre %>&nbsp;<%=@tecnico_campo.primer_apellido%>'</span>
    </div></div></div>
<%= render :partial=>'basico/tecnico_campo/common/tabs' %>
<div class="marco-contenido2">

  <div class="marco-boton-in" id="button_new">
    <%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.agregar'), :title=>I18n.t('Sistema.Body.Controladores.Accion.agregar')),
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :method =>:get,
      :url => { :action => :new, :tecnico_campo_id=>@tecnico_campo } ) %>
  </div>

  <%= error %>
  <%= message %>

  <div class="lista-form" id="form_new" style="display: none"></div>

  <div id="list">
    <%= render :partial=>"list" %>
  </div>

  <%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.cerrar'), :title=>I18n.t('Sistema.Body.Vistas.General.cerrar')),
    { :controller=> 'tecnico_campo', :action => :index },
    { :id=>'button_close' } ) -%>
</div>
