<tr id="row_<%= @almacen_maquinaria.id %>_edit">
  <td class="lista-form" colspan="10">

    <%= form_title_edit @almacen_maquinaria.nombre %>

    <%= error "row_#{@almacen_maquinaria.id}" %>

    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :id => @almacen_maquinaria.id } ) do -%>
    <%= render 'form' %>
    <%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.cancelar')),
      :method => :get,
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :cancel_edit, :id => @almacen_maquinaria.id}) -%>
  </td>
</tr>
</table>
<% end -%>
</td>
</tr>
