<script type="text/javascript">

//   function onload()
//   {
//     window.print();
//   }

function imprime(){
//desaparece el boton
document.getElementById("noprint").style.visibility='hidden';
//se imprime la pagina
print();
setTimeout("showlayer()",2000);

}
function showlayer(){
     document.getElementById("noprint").style.visibility='visible';
}


function formatCurrency2(num) {
   
    num = num.toString().replace(/\$|\,/g,'<%=I18n.t('Sistema.Body.ExpresionesRegulares.separador_miles')%>');

    if(isNaN(num))
        num = "0";

    sign = (num == (num = Math.abs(num)));
    num = Math.floor(num*100+0.50000000001);
    cents = num%100;
    num = Math.floor(num/100).toString();

    if(cents<10)
        cents = "0" + cents;

    for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
        num = num.substring(0,num.length-(4*i+3))+'<%=I18n.t('Sistema.Body.ExpresionesRegulares.separador_miles')%>'+
        num.substring(num.length-(4*i+3));
        
    numero = (((sign)?'':'-') + num + '<%=I18n.t('Sistema.Body.ExpresionesRegulares.separador_decimal')%>' + cents);
    //$(name + '_display').innerHTML = numero;
    return numero;
}

function formatCurrency3(num) {
    //alert("numero entrante "+num);   
    aux=num.toString().split('.');
    num = num.toString().replace(/\$|\,/g,'<%=I18n.t('Sistema.Body.ExpresionesRegulares.separador_miles')%>');

    if(isNaN(num))
        num = "0";

    sign = (num == (num = Math.abs(num)));
    num = Math.floor(num*1000+0.50000000001);

    //cents = num%100;
    if (aux.length > 1){  
    cents = aux[1].toString();
    }else{
    cents ="00";
    }
    //alert("numero centimos "+cents);
    num = Math.floor(num/1000).toString();

    //if(cents<10)
        //cents = "0" + cents;

    for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
        num = num.substring(0,num.length-(4*i+3))+'<%=I18n.t('Sistema.Body.ExpresionesRegulares.separador_miles')%>'+
        num.substring(num.length-(4*i+3));
        
    numero = (((sign)?'':'-') + num + '<%=I18n.t('Sistema.Body.ExpresionesRegulares.separador_decimal')%>' + cents);
    //alert("numero final "+numero);
    //$(name + '_display').innerHTML = numero;
    //alert("numero saliente "+numero);   
    return numero;
}


</script>


<%= render :partial => @vista -%>
<hr>
<label><%=I18n.t('Sistema.Body.Modelos.OrdenDespacho.Mensajes.original_fondas')%></label>
<hr>
<br>
<br>
<br>
<!-- si hago esto pone en la misma planilla otra planilla -->
<%= render :partial => @vista -%>
<hr>
<label><%=I18n.t('Sistema.Body.Modelos.OrdenDespacho.Mensajes.original_beneficiario')%></label>
<hr>
<br>
<br>
<br>
<%= render :partial => @vista -%>
<hr>
<label><%=I18n.t('Sistema.Body.Modelos.OrdenDespacho.Mensajes.original_agrotienda')%></label>
<hr>
<br>
<br>
<br>
<div id=noprint>
<TABLE width="93%" cellpadding="2">
<tr align="center">
  <td><input id="imprimir" name="imprimir" onclick="Javascript:imprime()" type="button" value="Imprimir" /></td>
</tr>
</TABLE> 
</div>

