<%= form_title_view @unidad_medida.nombre %>
    
<div class="marco-contenido2">

  <table>
    <tr>
      <td style="width: 100px">
        <label><%=I18n.t('Sistema.Body.Vistas.General.nombre')%></label>
      </td>
      <td style="width: 600px">
        <%= @unidad_medida.nombre -%>
      </td>
    </tr>
    <tr>
      <td>
        <label><%=I18n.t('Sistema.Body.Modelos.UnidadMedida.Columnas.abreviatura')%></label>
      </td>
      <td>
        <%= @unidad_medida.abreviatura -%>
      </td>
    </tr>
  </table>
    
  <%= link_to( image_tag(image_path("boton_modificar.gif")),
    :action => :edit,
    :id => @unidad_medida.id,
    :html_options => { :id=>'button_edit' } ) if vlink 'edit' -%>

    
  <%= link_to( image_tag(image_path(I18n.t('Sistema.Body.Imagenes.cerrar'))),
    { :action => :index },
    { :id=>'button_close' } ) -%>

</div>
