<table style="width: 100%">
  <tr>
    <td style="width: 20%" valign="top">
      <label><%= "#{I18n.t('Sistema.Body.Vistas.General.tipo')} #{I18n.t('Sistema.Body.Vistas.General.de')} #{I18n.t('Sistema.Body.Vistas.General.vivienda')}" %></label> <label style="color: red">*</label>
    </td>
    <td style="width: 80%">
      <table style="width: 70%" border="1" bordercolor="#d7d7d7">
        <tr><td style="width: 33%">
            <%= radio_button 'persona_direccion', 'tipo', 'C',
              :class=>'text', :onclick=>'inputChange();showTipo("C")'  -%><%= I18n.t('Sistema.Body.Vistas.General.casa') %>
          </td><td>
            <%= radio_button 'persona_direccion', 'tipo', 'A',
              :class=>'text', :onclick=>'inputChange();showTipo("A")'  -%><%= I18n.t('Sistema.Body.Vistas.General.apartamento') %>
          </td>
        </tr>
        <tr>
          <td style="width: 33%">
            <%= radio_button 'persona_direccion', 'tipo', 'R',
              :class=>'text', :onclick=>'inputChange();showTipo("R")'  -%><%= "#{I18n.t('Sistema.Body.Vistas.General.vivienda')} #{I18n.t('Sistema.Body.Vistas.General.rustica')}" %>
          </td>
          <td style="width: 33%">
            <%= radio_button 'persona_direccion', 'tipo', 'I',
              :class=>'text', :onclick=>'inputChange();showTipo("I")'  -%><%= "#{I18n.t('Sistema.Body.Vistas.General.vivienda')} #{I18n.t('Sistema.Body.Vistas.General.indigena')}" %>
          </td></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <label><%= I18n.t('Sistema.Body.Vistas.General.avenida_calle_callejon') %></label> <label style="color: red">*</label>
    </td>
    <td>
      <%= text_field 'persona_direccion', 'avenida',
        :class=>'text',
        :style=>'width: 300px',
        :maxlength=>'100', :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>
  <tr>
    <td>
      <label><%= I18n.t('Sistema.Body.Vistas.General.casa_edificio_otro') %></label> <label style="color: red">*</label>
    </td>
    <td>
      <%= text_field 'persona_direccion', 'edificio',
        :class=>'text',
        :style=>'width: 300px',
        :maxlength=>'100', :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>
  <tr>
    <td>
      <label><%= I18n.t('Sistema.Body.Vistas.General.urbanizacion_barrio_sector') %></label> <label style="color: red">*</label>
    </td>
    <td>
      <%= text_field 'persona_direccion', 'zona',
        :class=>'text',
        :style=>'width: 300px',
        :maxlength=>'100', :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>

  <tr>
    <td style="width: 30%">
      <label><%= I18n.t('Sistema.Body.Vistas.General.piso') %></label>
    </td>
    <td>
      <%= text_field 'persona_direccion', 'piso',
        :class=>'text',
        :style=>'width: 300px',
        :maxlength=>'3', :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>
  <tr>
    <td style="width: 30%">
      <label><%= I18n.t('Sistema.Body.Vistas.General.numero_apto_casa') %></label>
    </td>
    <td>
      <%= text_field 'persona_direccion', 'numero',
        :class=>'text',
        :style=>'width: 300px',
        :maxlength=>'10', :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>
  <tr>
    <td style="width: 30%">
      <label><%= "#{I18n.t('Sistema.Body.Vistas.General.punto')} #{I18n.t('Sistema.Body.Vistas.General.de')} #{I18n.t('Sistema.Body.Vistas.General.referencia')}" %></label>
    </td>
    <td>
      <%= text_field 'persona_direccion', 'referencia',
        :class=>'text',
        :style=>'width: 300px',
        :maxlength=>'100', :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>

  <tr>
    <td>
      <label><%= "#{I18n.t('Sistema.Body.Vistas.General.codigo')} #{I18n.t('Sistema.Body.Vistas.General.postal')}" %></label>
    </td>
    <td>
      <%= text_field 'persona_direccion', 'codigo_postal',
        :class=>'text',
        :style=>'width: 40px',
        :maxlength=>'4', :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>

  <tr>
    <td style="width: 35%"><label><%= I18n.t('Sistema.Body.Vistas.General.estado') %></label> <label style="color: red">*</label></td>
    <td>
      <%= select(
        'persona_direccion', 'estado_id',
        @estado_select.map{|e| [e.nombre, e.id]},
        {:prompt=>I18n.t('Sistema.Body.Vistas.Form.seleccionar')},
        { :class=>'select', :onchange=>"#{remote_function(
          :loading =>'Element.show("loading")',
          :loaded => 'Element.hide("loading")',
          :method =>:get,
          :url=>{:controller=>'cliente_persona_direccion',
          :action=>:estado_change },
          :with=>"'estado_id='+ this.value")};inputChange();" } ) %>
    </td>
  </tr>

  <tr>
    <td style="width: 30%"><label><%= I18n.t('Sistema.Body.Vistas.General.municipio') %></label> <label style="color: red">*</label></td>
    <td>
      <span id="municipio-select">
        <%= render :partial => 'municipio_select' %>
      </span>
    </td>
  </tr>
  <tr>
    <td style="width: 30%"><label><%= I18n.t('Sistema.Body.Vistas.General.parroquia') %></label> <label style="color: red">*</label></td>
    <td>
      <span id="parroquia-select">
        <%= render :partial => 'parroquia_select' %>
      </span>
    </td>
  </tr>

  <tr>
    <td style="width: 30%"><label><%= I18n.t('Sistema.Body.Vistas.General.ciudad') %></label> <label style="color: red">*</label></td>
    <td>
      <span id="ciudad-select">
        <%= render :partial => 'ciudad_select' %>
      </span>
    </td>
  </tr>

  <tr>
    <td style="width: 35%">
      <label><%= I18n.t('Sistema.Body.Vistas.General.direccion_aplica_envio') %></label>
    </td>
    <td>
      <%= check_box 'persona_direccion', 'correspondencia',
        :checked_value=>"true",
        :unchecked_value=>"false",:onclick=>'inputChange();'-%>
    </td>
  </tr>

  <tr>
    <td style="width: 30%">
      <label><%= I18n.t('Sistema.Body.Vistas.General.activo') %></label>
    </td>
    <td>
      <%= check_box 'persona_direccion', 'activo',
        :checked_value=>"true",
        :unchecked_value=>"false",:onclick=>'inputChange();'-%>
    </td>
  </tr>
</table>