<div class="marco-titulo"><div><div>
      <%= I18n.t('Sistema.Body.Vistas.General.modificando') %> <%= "#{I18n.t('Sistema.Body.General.beneficiario')} #{I18n.t('Sistema.Body.Vistas.General.juridico')}" %> <span class="titulo_modificar">'<%= @empresa.alias %>'</span>
    </div></div></div>

<%= render :partial=>'clientes/cliente_empresa/common/tabs' %>
<div class="marco-contenido2">

  <%= form_title_edit @persona.nombre_corto %>

  <%= render :partial=>'clientes/cliente_empresa_integrante_persona/common/tabs' %>
  <div class="marco-contenido2">

    <%= form_title_new %>

    <%= render :partial=>'clientes/cliente_empresa_integrante_persona_direccion/common/tabs' %>
    <div class="marco-contenido2">

      <%= error %>

      <%= form_remote_tag(
        :loading =>'image_load()',
        :loaded => 'image_unload()',
        :url => { :action => :save_new, :popup=>params[:popup], :empresa_integrante_tipo_id => @empresa_integrante_tipo.id } ) do -%>
      <%= render :partial => 'form' %>
      <%= form_buttons_edit :params=>{:empresa_integrante_tipo_id => @empresa_integrante_tipo.id, :popup=>params[:popup]} %>
      <% end -%>

    </div>
  </div>
</div>