<div id="tabs">
  <ul>
    <%
    action_name = controller.action_name
    controller_name = controller.controller_name
    if controller_name=='precio_gaceta'
    %>
      <li id="actual"><div><a href=" "><%=I18n.t('Sistema.Body.Vistas.PrecioGaceta.Tabs.gacetas_oficiales')%></a></div></li>
    <%
    else
    %>
      <li><div>
          <%= link_to(I18n.t('Sistema.Body.Vistas.PrecioGaceta.Tabs.gacetas_oficiales'), :controller => 'precio_gaceta', :action => 'edit', :id => @precio_gaceta.id, :popup=>params[:popup])  if (action_name == 'index' || action_name == 'edit' || action_name == 'new') %>
          <%= link_to(I18n.t('Sistema.Body.Vistas.PrecioGaceta.Tabs.gacetas_oficiales'), :controller => 'precio_gaceta', :action => 'view', :id => @precio_gaceta.id, :popup=>params[:popup])  if (action_name == 'view') %>
        </div></li>
    <%
    end
    if @precio_gaceta.id
      if controller_name=='detalle_precio_gaceta'
      %>
        <li id="actual"><div><a href=" "><%=I18n.t('Sistema.Body.Vistas.PrecioGaceta.Tabs.precios_gaceta')%></a></div></li>
      <%
      else
      %>
        <li><div>
            <%= link_to(I18n.t('Sistema.Body.Vistas.PrecioGaceta.Tabs.precios_gaceta'), :controller => 'detalle_precio_gaceta', :action => 'index', :precio_gaceta_id => @precio_gaceta.id, :popup=>params[:popup]) if (action_name == 'index' || action_name == 'edit' || action_name == 'new') %>
            <%= link_to(I18n.t('Sistema.Body.Vistas.PrecioGaceta.Tabs.precios_gaceta'), :controller => 'detalle_precio_gaceta', :action => 'view', :precio_gaceta_id => @precio_gaceta.id, :popup=>params[:popup])  if (action_name == 'view') %>
          </div></li>
      <%
      end
    end
  %>
  </ul>
</div>
