<tr id="row_<%= @pais.id %>_edit">
  <td class="lista-form" colspan="3">
  
    <%= form_title_edit @pais.nombre %>
  
    <%= error "row_#{@pais.id}" %>
  
    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :id => @pais.id } ) do -%>
  
        <%= render 'form' %>
  
          <%= link_to_remote(
            image_tag(image_path(I18n.t('Sistema.Body.Imagenes.cancelar'))),
            :loading =>'image_load()',
            :loaded => 'image_unload()',
            :url => { :action => :cancel_edit, :id => @pais.id}) -%>
         </td>
        </tr>
      </table>
    <%end -%>
  </td>
</tr>
