<table class="lista" style="width: 100%">
  <thead>
    <tr>
      <th style="width:10%" style="text-align: center" <%= sort_class_helper('id') %>>
        <%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.General.id')} #{I18n.t('Sistema.Body.Vistas.General.registro')}", 'id', 'list' %>
      </th>
      <th style="width: 60%" <%= sort_class_helper('nombre') %>>
        <%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.General.nombre')} #{I18n.t('Sistema.Body.Vistas.General.del')} #{I18n.t('Sistema.Body.Vistas.General.pais')}", 'nombre', 'list' %>
      </th>
      <th style="width: 20%" <%= sort_class_helper('abreviacion') %>>
        <%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.General.siglas')} #{I18n.t('Sistema.Body.Vistas.General.del')} #{I18n.t('Sistema.Body.Vistas.General.pais')}", 'abreviacion', 'list' %>
      </th>
      <th style="width: 10%">
        <%= I18n.t('Sistema.Body.Vistas.General.acciones') %>
      </th>
    </tr>
  </thead>
  <tbody id="list_body">
    <%
    even_odd = 1
    for pais in @list
      even_odd = 1 - even_odd %>
      <%= render :partial => 'row', :locals => { :pais => pais, :even_odd => even_odd } -%>
    <% end %>
  </tbody>
</table>

<%= form_pagination %>
