<%= form_title_new %>

<%= error 'form_new' %>

<%= form_remote_tag(
  :loading =>'image_load()',
  :loaded => 'image_unload()',
  :url => { :action => :save_new ,:id=>params[:id], :id_embarcacion=>@identificador_embarcacion} ) do -%>

<%= render :partial => 'form' %>
<%= link_to_remote(
  image_tag(I18n.t('Sistema.Body.Imagenes.cancelar')),
  :loading =>'image_load()',
  :loaded => 'image_unload()',
  :method =>:get,
  :url => { :action => :cancel_new,:id=>params[:id]}) -%>
</td>
</tr>
</table>
<% end -%>