<table class="lista" style="width: 100%;">
    <thead>
      <tr>
        <th style="width: 50px" <%= sort_class_helper('numero') %>>
          <%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.General.nro')} #{I18n.t('Sistema.Body.Vistas.General.financiamiento')}", 'numero', 'list' %>
        </th>

         <th style="width: 20px" <%= sort_class_helper('cedula_rif') %>>
          <%= sort_link_helper I18n.t('Sistema.Body.Vistas.VisitaSolicitud.Etiquetas.cedula_rif'), 'cedula_rif', 'list' %>
        </th>        
         <th style="width: 20px" <%= sort_class_helper('nombre') %>>
          <%= sort_link_helper I18n.t('Sistema.Body.General.beneficiario'), 'nombre', 'list' %>
        </th>
        
        <th style="width: 150px" <%= sort_class_helper('estatus') %>>
          <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.estatus') << " " << I18n.t('Sistema.Body.Vistas.General.del') << " " << I18n.t('Sistema.Body.Modelos.Errores.tramite_sin_b'), 'estatus', 'list' %>
        </th>
        <th style="width: 20px" <%= sort_class_helper('rubro') %>>
          <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.rubro'), 'rubro', 'list' %>
        </th>

        <th style="width: 60px" <%= sort_class_helper('sub_rubro_id') %>>
          <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.sub_rubro'), 'sub_rubro_id', 'list' %>
       </th>

        <th style="width: 60px" <%= sort_class_helper('actividad_id') %>>
          <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.actividad'), 'actividad_id', 'list' %>
       </th>

        <th style="width: 60px" <%= sort_class_helper('(select seg.codigo_visita from seguimiento_visita seg, orden_despacho ord where ord.seguimiento_visita_id = seg.id and ord.id = orden_despacho_id)') %>>
			<%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.General.nro')} #{I18n.t('Sistema.Body.Vistas.Form.control')} #{I18n.t('Sistema.Body.Vistas.VisitaSeguimiento.Etiquetas.visita')}", '(select seg.codigo_visita from seguimiento_visita seg, orden_despacho ord where ord.seguimiento_visita_id = seg.id and ord.id = orden_despacho_id)', 'list' %>
		</th>
        
        <th style="width: 60px" <%= sort_class_helper('(select seg.fecha_visita from seguimiento_visita seg, orden_despacho ord where ord.seguimiento_visita_id = seg.id and ord.id = orden_despacho_id)') %>>
			<%= sort_link_helper I18n.t('Sistema.Body.Vistas.VisitaSeguimiento.Etiquetas.fecha_control_visita'), '(select seg.fecha_visita from seguimiento_visita seg, orden_despacho ord where ord.seguimiento_visita_id = seg.id and ord.id = orden_despacho_id)', 'list' %>
		</th>

        <th style="width: 60px" <%= sort_class_helper('(select ord.monto from orden_despacho ord where ord.id = orden_despacho_id)') %>>
			<%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.monto') << " " << I18n.t('Sistema.Body.Vistas.General.orden'), '(select ord.monto from orden_despacho ord where ord.id = orden_despacho_id)', 'list' %>
		</th>      
        

       <th style="width: 60px" <%= sort_class_helper('(select est.nombre from orden_despacho ord, estatus est where ord.estatus_id = est.id and ord.id = orden_despacho_id)') %>>
			<%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.Form.estatus')} #{I18n.t('Sistema.Body.ModalidadPago.orden_despacho')}", '(select est.nombre from orden_despacho ord, estatus est where ord.estatus_id = est.id and ord.id = orden_despacho_id)', 'list' %>
		</th>             

        
        <th style="width: 60px" <%#= sort_class_helper('(select sum(ord_det.monto_facturacion) from orden_despacho_detalle ord_det where ord_det.orden_despacho_id = orden_despacho_id)') %>>
        <%=I18n.t('Sistema.Body.Vistas.ConsultaPrestamoSituacion.Etiquetas.monto_facturado')%>
			<%#= sort_link_helper I18n.t('Sistema.Body.Vistas.ConsultaPrestamoSituacion.Etiquetas.monto_facturado'), '(select sum(ord_det.monto_facturacion) from orden_despacho_detalle ord_det where ord_det.orden_despacho_id = orden_despacho_id)', 'list' %>
		</th>                   
        
        
        <th style="width: 60px" <%#= sort_class_helper('(select sum(monto_facturacion) monto from orden_despacho_detalle where orden_despacho_id=orden_despacho_id)') %>>
          <%=I18n.t('Sistema.Body.Modelos.Prestamo.Columnas.monto_pendiente')%><%#= sort_link_helper I18n.t('Sistema.Body.Modelos.Prestamo.Columnas.monto_pendiente'), '(select sum(monto_facturacion) monto from orden_despacho_detalle where orden_despacho_id=orden_despacho_id)', 'list' %>
        </th>


        <th style="width: 60px" >
          <%=I18n.t('Sistema.Body.Vistas.General.acciones')%>
        </th>

       
        <th style="width: 80px"><%=I18n.t('Sistema.Body.Vistas.ConsultaPrestamoFactura.Etiquetas.evento')%></th>
      </tr>

  </thead>
	<tbody id="list-body">
<%
	even_odd = 1
	for orden_despacho in @list
		even_odd = 1 - even_odd %>
	<%= render :partial => 'row', :locals => { :orden_despacho => orden_despacho, :even_odd => even_odd } -%>
<% end %>
</tbody>
</table>

<%= form_pagination %>
