	<table class="lista" style="width: 100%">
		<thead>
  		<tr>
  			<th style="width: 20%">
  				<%="#{I18n.t('Sistema.Body.Vistas.General.numero')} #{I18n.t('Sistema.Body.Vistas.General.de')} #{I18n.t('Sistema.Body.Vistas.General.factura')}"%>
   			</th>
  			<th style="width: 20%">
  				<%="#{I18n.t('Sistema.Body.Vistas.General.nombre')} #{I18n.t('Sistema.Body.Vistas.General.del')} #{I18n.t('Sistema.Body.Vistas.Form.item')}" %>
   			</th>
        <th style="width: 20%">
  				<%=I18n.t('Sistema.Body.Controladores.CasaProveedora.FormTitles.form_title')%>
   			</th>
  			<th style="width: 20%">
  				<%=I18n.t('Sistema.Body.Controladores.SucursalCasaProveedora.FormTitles.form_title')%>
   			</th>
  			<th style="width: 10%">
  				<%=I18n.t('Sistema.Body.Modelos.OrdenDespacho.Mensajes.cantidad_facturada')%>
   			</th>
  			<th style="width: 10%">
  				<%="#{I18n.t('Sistema.Body.Vistas.Form.fecha')} #{I18n.t('Sistema.Body.Vistas.General.de')} #{I18n.t('Sistema.Body.Vistas.General.factura')}"%>
   			</th>
   			<th style="width: 10%">
  				<%=I18n.t('Sistema.Body.Modelos.OrdenDespacho.Estatus.emitida_orden_despacho')%>
   			</th>
  			<th style="width: 10%">
  				<%=I18n.t('Sistema.Body.Modelos.OrdenDespacho.Estatus.confirmada')%>
   			</th>
  			<th style="width: 30%">
  				<%=I18n.t('Sistema.Body.Vistas.ConsultaPrestamoFactura.Etiquetas.evento')%>
   			</th>

  		</tr>
		</thead>
		<tbody id="list_body">

<%  
	even_odd = 1  
  @facturas.each{ |factura|
		even_odd = 1 - even_odd %>
<%if factura.secuencia.strip.to_s.length == 1 %>
    <%= render :partial => 'row_accion_otra', :locals => { :factura => factura, :even_odd => even_odd } -%>
<%end%>
   <% } %>
    </tbody>
  </table>
