<table class="lista" style="width: 100%">
  <thead>
    <tr>

      <th style="width: 200px" <%= sort_class_helper('proveedor_marino.nombre') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.nombre'), 'proveedor_marino.nombre', 'list' %>
      </th>
      <th style="width: 200px" <%= sort_class_helper('proveedor_marino.direccion') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.General.direccion'), 'proveedor_marino.direccion', 'list' %>
      </th>
      <th style="width: 15px" <%= sort_class_helper('proveedor_marino.rif') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.rif'), 'proveedor_marino.rif', 'list' %>
      </th>
      <th style="width: 15px" <%= sort_class_helper('proveedor_marino.propia') %>>
        <%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.General.asociado')} #{I18n.t('Sistema.Body.General.fondas')}", 'proveedor_marino.asociado_fondas', 'list' %>
      </th>
      <th style="width: 10px">
        <%= I18n.t('Sistema.Body.Vistas.General.acciones')%>
      </th>
    </tr>
  </thead>
  <tbody id="list_body">
    <%
    even_odd = 1
    for proveedor_marino in @list
      even_odd = 1 - even_odd %>
      <%= render :partial => 'row', :locals => { :proveedor_marino => proveedor_marino, :even_odd => even_odd } -%>
    <% end %>
  </tbody>
</table>
<%= form_pagination %>
