<% actividad_economica = @actividad_economica if actividad_economica.nil? %>
<td>
<%= actividad_economica.ciiu  %> - <%= actividad_economica.descripcion  %>
</td>
<td>
	<%= actividad_economica.sector_economico.descripcion  %>
</td>
<td>
	<%= actividad_economica.SectorTipo.nombre unless actividad_economica.SectorTipo.nil? %>
</td>
<td style="text-align: right">
	<%= link_to_remote(
		image_tag(image_path(I18n.t('Sistema.Body.Imagenes.modificar'))),
	  :loading =>'image_load()',
 	  :loaded => 'image_unload()',
		:url => {:controller => 'actividad_economica', :action => :edit, :id => actividad_economica.id}) if vlink 'edit' -%>&nbsp;
	<%= link_to_remote(
		image_tag(image_path(I18n.t('Sistema.Body.Imagenes.eliminar'))),
	  :loading =>'image_load()',
 	  :loaded => 'image_unload()',
	:confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
		:url => {:controller => 'actividad_economica', :action => :delete, :id => actividad_economica.id}) if vlink 'delete' -%>
</td>

