<table class="lista" style="width: 100%">
  <thead>
    <tr>

      <th style="width: 100px" <%= sort_class_helper('view_guia_movilizacion.numero_guia') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.nro') << " " << I18n.t('Sistema.Body.Vistas.General.guia'), 'view_guia_movilizacion.numero_guia', 'list' %>
      </th>
      <th style="width: 70px" <%= sort_class_helper('view_guia_movilizacion.fecha_emision') %>>
        <%= sort_link_helper  I18n.t('Sistema.Body.Vistas.Form.fecha') << " " << I18n.t('Sistema.Body.Vistas.Form.envio'), 'view_guia_movilizacion.fecha_emision', 'list' %>
      </th>
      <th style="width: 70px" <%= sort_class_helper('view_guia_movilizacion.fecha_estamada') %>>
        <%= sort_link_helper  I18n.t('Sistema.Body.Vistas.Form.fecha') << " " << I18n.t('Sistema.Body.Vistas.Form.estimada'), 'view_guia_movilizacion.fecha_estimada', 'list' %>
      </th>
      <th style="width: 180px" <%= sort_class_helper('view_guia_movilizacion.destino') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.destino'), 'view_guia_movilizacion.destino', 'list' %>
      </th>
      <th style="width: 70px" <%= sort_class_helper('view_guia_movilizacion.cedula_rif') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.VisitaSolicitud.Etiquetas.cedula_rif'), 'view_guia_movilizacion.cedula_rif', 'list' %>
      </th>
      <th style="width: 190px" <%= sort_class_helper('view_guia_movilizacion.productor') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.General.beneficiario'), 'view_guia_movilizacion.productor', 'list' %>
      </th>
      <th style="width: 80px" <%= sort_class_helper('view_guia_movilizacion.estatus') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.estatus'), 'view_guia_movilizacion.estatus', 'list' %>
      </th>
      <th style="width: 130px" <%= sort_class_helper('view_guia_movilizacion.encargado') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.responsable'), 'view_guia_movilizacion.encargado', 'list' %>
      </th>
      <th style="width: 60px"><%= I18n.t('Sistema.Body.Vistas.General.acciones') %>
      </th>
  </tr>
  </thead>
  <tbody id="list-body">
<%
  even_odd = 1
  for view_guia_movilizacion in @list
    even_odd = 1 - even_odd %>
  <%= render :partial => 'row', :locals => { :view_guia_movilizacion => view_guia_movilizacion, :even_odd => even_odd } -%>
<% end %>
</tbody>
</table>

<%= form_pagination %>
