<div id="errorExplanation" class="errorExplanation" style="display: none; text-align: left">
</div>
<br/>
<table class="lista" style="width: 100%">
  <tr>
    <th style="width: 2px">
      <input type="checkbox" id="todos" name="todos" 
             onClick="GenericcheckAll2(form.catalogo_id,form.todos, 'tipo_documento_tipo');inputChange();" />
      <%#*<input id="guia_movilizacion_maquinaria_maqui" name="guia_movilizacion_maquinaria[maqui]" type="text" value="" />%>
      <%= hidden_field 'tipo_documento', 'tipo', :class=>'text', :style=>'width: 150px;',
        :maxlength=>'150', :onKeyUp=>'textCounter(this,11)', :onkeypress=>'inputChange();'  -%>
    </th>
    <th style="width: 20px">
      <label><%=I18n.t('Sistema.Body.Vistas.General.rubro')%></label>
    </th>
    <th style="width: 20px">
      <label><%=I18n.t('Sistema.Body.Vistas.General.tipo')%></label>
    </th>
    <th style="width: 20px">
      <label><%=I18n.t('Sistema.Body.Vistas.General.marca')%></label>
    </th>
    <th style="width: 20px">
      <label><%=I18n.t('Sistema.Body.Vistas.General.modelo')%></label>
    </th>
    <th style="width: 20px">
      <label><%=I18n.t('Sistema.Body.Vistas.General.serial')%> (<%=I18n.t('Sistema.Body.Vistas.General.motor')%> / <%=I18n.t('Sistema.Body.Vistas.General.chasis')%>)</label>
    </th>
    <th style="width: 30px">
      <label><%=I18n.t('Sistema.Body.Vistas.Form.convenio')%></label>
    </th>
    <th style="width: 20px">
      <label><%=I18n.t('Sistema.Body.Vistas.General.almacen')%></label>
    </th>
    <th style="width: 20px">
      <label><%=I18n.t('Sistema.Body.Vistas.General.oficina')%> <%=I18n.t('Sistema.Body.Vistas.Form.destino')%></label>
    </th>
    <th style="width: 2px">
      <%= I18n.t('Sistema.Body.Vistas.General.acciones') %>
    </th>
  </tr>
  <% unless @maquinaria_list.nil?
    clase = "lista0"
    @maquinaria_list.each { |maq| %>
      <tr id="coj_<%= maq.id %>" class='<%= clase %>'>
        <td checked= <% if maq.guia_movilizacion_maquinaria_id.nil? %> false
        <%else%>
              true
            <%end%>
            align="center" >
              <%if maq.guia_movilizacion_maquinaria_id.nil? %>
                <%= check_box_tag 'catalogo_id', maq.catalogo_id, checked=false, 
                :onClick=>"GenericcheckOne(this,form.todos,'tipo_documento_tipo');inputChange();" %>
              <%else%>
                <%= check_box_tag 'catalogo_id', maq.catalogo_id, checked=true, 
                :onClick=>"GenericcheckOne(this,form.todos,'tipo_documento_tipo');inputChange();" %>
              <%end%>
        </td>
        <td>
          <%= maq.rubro.to_s %> 
        </td>
        <td>
          <%= maq.tipo_clase.to_s %> 
        </td>
        <td>
          <%= maq.marca.to_s %>
        </td>
        <td>
          <%= maq.modelo.to_s %>
        </td>
        <td align="center">
          <%= maq.serial.to_s %>
        </td>
        <td>
          <%= maq.nombre_convenio.to_s %>
        </td>
        <td>
          <%= maq.almacen.to_s %>
        </td>
        <td>
          <%= maq.oficina.to_s %>
        </td>
        <td align="center">
          <%= link_to(image_tag(I18n.t('Sistema.Body.Imagenes.consultar')), {:controller => '/maquinaria/guia_movilizacion_maquinaria', :action => 'view_maquinaria', :catalogo_id => maq.catalogo_id, :popup=>true}, :onclick=>"window.open(this.href,'" + I18n.t('Sistema.Body.Vistas.General.solicitudes') + "', 'height=650,scrollbars=yes,width=1150'); return false;")  %>
          <% link_to image_tag(I18n.t('Sistema.Body.Imagenes.consultar'),:title=>I18n.t('Sistema.Body.Controladores.Accion.consultar')),
          {:action => :view_maquinaria,
            :catalogo_id => maq.catalogo_id,
            :controller => 'guia_movilizacion_maquinaria'} %>
        </td>
      </tr>
      <% if clase == 'lista0'
        clase = 'lista1'
      else
        clase = 'lista0'
      end
    }
  end %>
</table>
<br/>
