<div class="marco-contenido">

  <div class="marco-titulo"><div><div>
        <%=I18n.t('Sistema.Body.Vistas.General.consulta')%> <%=I18n.t('Sistema.Body.Vistas.General.maquinaria')%>
      </div></div></div>

  <table style="width: 100%">
    <tr>
      <td style="width: 20%">
        <label><%=I18n.t('Sistema.Body.Vistas.Form.contrato')%>:</label>
      </td>
      <td style="width: 80%">
        <%= @catalogo.contrato_maquinaria_equipo.nombre %>
      </td>
    </tr>
    
    <tr>
      <td style="width: 20%">
        <label><%=I18n.t('Sistema.Body.Vistas.General.rubro')%>:</label>
      </td>
      <td style="width: 80%">
        <%= @catalogo.clase.tipo_maquinaria.descripcion %>
      </td>
    </tr>
    
    <tr>
      <td style="width: 20%">
        <label><%=I18n.t('Sistema.Body.Vistas.General.tipo')%>:</label>
      </td>
      <td style="width: 80%">
        <%= @catalogo.clase.nombre unless @catalogo.clase.nil?%>
      </td>
    </tr>
    
    <tr>
      <td style="width: 20%">
        <label><%=I18n.t('Sistema.Body.Vistas.General.modelo')%>:</label>
      </td>
      <td style="width: 80%">
        <%= @catalogo.modelo.nombre unless @catalogo.modelo.nil?%>
      </td>
    </tr>
    
    <tr>
      <td style="width: 20%">
        <label><%=I18n.t('Sistema.Body.Vistas.General.marca')%>:</label>
      </td>
      <td style="width: 80%">
        <%= @catalogo.marca_maquinaria.nombre unless @catalogo.marca_maquinaria.nil?%>
      </td>
    </tr>
    
    <tr>
      <td style="width: 20%">
        <label><%=I18n.t('Sistema.Body.Vistas.General.serial')%>:</label>
      </td>
      <td style="width: 80%">
        <%= @catalogo.serial %>
      </td>
    </tr>
    
    <tr>
      <td style="width: 20%">
        <label><%=I18n.t('Sistema.Body.Vistas.General.chasis')%>:</label>
      </td>
      <td style="width: 80%">
        <%= @catalogo.chasis %>
      </td>
    </tr>
    
    <tr>
      <td style="width: 20%">
        <label><%=I18n.t('Sistema.Body.Vistas.Form.descripcion')%>:</label>
      </td>
      <td style="width: 80%; text-align: justify">
        <%= @catalogo.descripcion %>
      </td>
    </tr>
    
    <% if @catalogo.contrato_maquinaria_equipo.naturaleza == 'I' %>
      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Vistas.Catalogo.Etiquetas.pais_origen')%>:</label>
        </td>
        <td style="width: 80%">
          <%= @catalogo.pais.nombre %>
        </td>
      </tr> 
      
      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Vistas.Catalogo.Etiquetas.fecha_llegada')%>:</label>
        </td>
        <td style="width: 80%">
          <%= format_fecha(@catalogo.fecha_llegada) %>
        </td>
      </tr>
      
      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Vistas.Catalogo.Etiquetas.puerto_llegada')%>:</label>
        </td>
        <td style="width: 80%">
          <%= @catalogo.puerto_llegada %>
        </td>
      </tr>
      
      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Vistas.Catalogo.Etiquetas.movilizado_a')%>:</label>
        </td>
        <td style="width: 80%">
          <%= @catalogo.movilizado %>
        </td>
      </tr>
      
      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Vistas.Catalogo.Etiquetas.nombre_buque')%>:</label>
        </td>
        <td style="width: 80%">
          <%= @catalogo.nombre_buque %>
        </td>
      </tr>
      
      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Vistas.General.numero')%> <%=I18n.t('Sistema.Body.Vistas.General.factura')%>:</label>
        </td>
        <td style="width: 80%">
          <%= @catalogo.numero_factura %>
        </td>
      </tr>
      
      <tr>
        <td class="separador" valign="bottom" colspan="2">
          <span><%= I18n.t('Sistema.Body.Vistas.General.imputaciones') %></span>
        </td>
      </tr>

      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Vistas.Catalogo.Etiquetas.monto_dolares')%>:</label>
        </td>
        <td style="width: 80%; text-align: justify">
          <%= format_fm(@catalogo.monto_dolares) %>
        </td>
      </tr>
      
      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Vistas.Catalogo.Etiquetas.monto_bs')%>:</label>
        </td>
        <td style="width: 80%; text-align: justify">
          <%= format_fm(@catalogo.monto_real) %>
        </td>
      </tr>
      
      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Modelos.ImputacionesMaquinaria.Columnas.gastos_administrativos')%>:</label>
        </td>
        <td style="width: 80%; text-align: justify">
          <%= format_fm(@catalogo.gastos_administrativos) %>
        </td>
      </tr>
      
      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Vistas.Catalogo.Etiquetas.monto_seguro')%>:</label>
        </td>
        <td style="width: 80%; text-align: justify">
          <%= format_fm(@catalogo.seguro) %>
        </td>
      </tr>
      
      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Vistas.Catalogo.Etiquetas.monto_flete')%>:</label>
        </td>
        <td style="width: 80%; text-align: justify">
          <%= format_fm(@catalogo.flete) %>
        </td>
      </tr>
      
      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Vistas.Catalogo.Etiquetas.nacionalización_impuestos')%>:</label>
        </td>
        <td style="width: 80%; text-align: justify">
          <%= format_fm(@catalogo.impuesto) %>
        </td>
      </tr>
      
      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Modelos.ImputacionesMaquinaria.Columnas.almacenamiento')%>:</label>
        </td>
        <td style="width: 80%; text-align: justify">
          <%= format_fm(@catalogo.almacenamiento) %>
        </td>
      </tr>
    <% else %>
      <tr>
        <td class="separador" valign="bottom" colspan="2">
          <span><%= I18n.t('Sistema.Body.Vistas.General.imputaciones') %></span>
        </td>
      </tr>
      
      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Vistas.General.costo')%>:</label>
        </td>
        <td style="width: 80%; text-align: justify">
          <%= format_fm(@catalogo.monto_real) %>
        </td>
      </tr>
      
      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Vistas.Catalogo.Etiquetas.monto_seguro')%>:</label>
        </td>
        <td style="width: 80%; text-align: justify">
          <%= format_fm(@catalogo.seguro) %>
        </td>
      </tr>
      
      <tr>
        <td style="width: 20%">
          <label><%=I18n.t('Sistema.Body.Vistas.Catalogo.Etiquetas.monto_flete')%>:</label>
        </td>
        <td style="width: 80%; text-align: justify">
          <%= format_fm(@catalogo.flete) %>
        </td>
      </tr>
    <% end %>
      
    <tr>
      <td style="width: 20%">
        <label><%= "#{I18n.t('Sistema.Body.Vistas.General.costo')} #{I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.total')}"%>:</label>
      </td>
      <td style="width: 80%">
        <%= format_fm(@catalogo.monto) %>
      </td>
    </tr>
    
  </table><br/>

  <%= image_tag(I18n.t('Sistema.Body.Imagenes.cerrar'), :onclick => "window.close();") -%>		
</div>
