<%= form_title_edit @precio_gaceta.gaceta_oficial %>
<%= render :partial=>'basico/precio_gaceta/common/tabs' %>
<div class="marco-contenido2">
  <%= error %>
<%= message %>

  <%= form_remote_tag(
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :url => { :action => :save_edit, :id=>@precio_gaceta.id} ) do -%>
  <%= render :partial => 'form' %>

  <div id="buttons_edit" style="display: none">
    <%= form_buttons_edit %>
  </div>

  <%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.cerrar')),
    { :action => :index },
    { :id=>'button_close' } ) -%>

  <%end -%>
</div>
