<div id="errorCustomizado_<%=@solicitud.id%>">
<div id="errorExplanation" class="errorExplanation" style="display: none; text-align: left">
</div>
</div>

<%= message %>
<%= end_form_tag %>
<%= form_remote_tag(
	:loading =>'image_load()',
	:loaded => 'image_unload()',
	:confirm => params[:pregunta_confirmacion],
	:url => { :controller => 'reversar', :action => :reversar, :id=>@solicitud.id, :mensaje_exito => "La Solicitud Número #{@solicitud.numero} fue Retornada a Evaluación del Crédito con éxito."} ) -%>

<div class="marco-contenido2">	
	<table style="width: 100%">
		<tr>
			<td class="form-titulo" valign="bottom" colspan="2">
				<span><%=params[:titulo_1]%></span>
				
			</td>
		</tr>
	</table>
	<table style="width: 100%">
                <tr>
			<td>
				<%= @causa-%>
	
			</td>
                </tr>	
		<tr>
			<td>
				<%= @observaciones-%>
	
			</td>
                </tr>
                <% if !@solicitud.causa_liberacion.nil? %>
                <tr>
			<td>
				<%=   link_to_function("Redefinir Parametros de Solicitud Reestructurada", "alert('Usted será redireccionado al area de Reestructuración para que solicite un nuevo caso');")-%>
			</td>
                </tr>
                <% end  %>
                <input type="hidden" name="codigo" value="<%= @codigo %>"/>
                <input type="hidden" name="codigo_exitoso" value="<%= @codigo_exitoso %>"/>
		<tr>
			<td colspan="2" align="left">
				<div id="botones1" ><br>
				
										
					<%= link_to_remote(
						image_tag(I18n.t('Sistema.Body.Imagenes.cerrar')),
					  :loading =>'image_load()',
				 	  :loaded => 'image_unload()',
						:url => {:controller => 'consulta_evaluacion_credito', :action => :hide_suspender, :id => @solicitud.id}) -%>&nbsp;	
								
				</div>	
			</td>
		</tr>
	</table>
</div>	
	<%= end_form_tag -%>
