<table class="lista" style="width: 100%">
  <thead>
    <tr>
      <th style="width: 100px" <%= sort_class_helper('nro_solicitud') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.nro_tramite'), 'nro_solicitud', 'list' %>
      </th>
      <th style="width: 100px" <%= sort_class_helper('nro_prestamo') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.nro_financiamiento'), 'nro_prestamo', 'list' %>
      </th>
      <th style="width: 100px" <%= sort_class_helper('estado') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.estado'), 'estado', 'list' %>
      </th>
      <th style="width: 100px" <%= sort_class_helper('municipio') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.municipio'), 'municipio', 'list' %>
      </th>
      <th style="width: 100px" <%= sort_class_helper('cedula_rif') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.VisitaSolicitud.Etiquetas.cedula_rif'), 'cedula_rif', 'list' %>
      </th>
      <th style="width: 100px" <%= sort_class_helper('productor') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.beneficiario'), 'productor', 'list' %>
      </th>
      <th style="width: 100px" <%= sort_class_helper('rubro') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.rubro'), 'rubro', 'list' %>
      </th>

      <th style="width: 100px" <%= sort_class_helper('actividad') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.actividad'), 'actividad', 'list' %>
      </th>

      <th style="width: 100px" <%= sort_class_helper('unidad_produccion') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.unidad_produccion'), 'unidad_produccion', 'list' %>
      </th>
      <th style="width: 100px" <%= sort_class_helper('estatus') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.estatus'), 'estatus', 'list' %>
      </th>
      <th style="width: 70px"><%=I18n.t('Sistema.Body.Vistas.General.acciones')%>
      </th>
    </tr>
  </thead>
  <tbody id="list-body">
    <%  
    even_odd = 1
    for boleta in @list
      even_odd = 1 - even_odd %>
      <%= render :partial => 'row', :locals => { :boleta => boleta, :even_odd => even_odd } -%>
    <% end %>
  </tbody>
</table>

<%= form_pagination %>