<table class="lista" style="width: 100%">
  <thead>
    <tr>
      <th style="width: 100px" <%= sort_class_helper('persona.id') %>>
        <%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.General.numero')} #{I18n.t('Sistema.Body.Vistas.General.de')} #{I18n.t('Sistema.Body.General.beneficiario')}", 'persona.id', 'list' %>
      </th>
      <th style="width: 140px" <%= sort_class_helper('cedula') %>>
        <%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.General.nro')} #{I18n.t('Sistema.Body.Vistas.General.cedula')}", 'cedula', 'list' %>
      </th>
      <th style="width: 240px" <%= sort_class_helper('primer_nombre') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.primer_nombre'), 'primer_nombre', 'list' %>
      </th>
      <th style="width: 240px" <%= sort_class_helper('primer_apellido') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.primer_apellido'), 'primer_apellido', 'list' %>
      </th>
      <th style="width: 40px">
        <%= I18n.t('Sistema.Body.Vistas.General.acciones') %>
      </th>
    </tr>
  </thead>
  <br/>
  <tbody id="list-body">
    <%  
    even_odd = 1
    for persona in @list
      even_odd = 1 - even_odd %>
      <%= render :partial => 'row', :locals => { :persona => persona, :even_odd => even_odd } -%>
    <% end %>
  </tbody>
</table>

<%= form_pagination %>