<div class="marco-contenido">
  <%= form_title_edit @cliente.class.to_s=='ClienteEmpresa' ? @cliente.empresa.nombre : @cliente.persona.nombre_corto %>
<%#= @solicitud.cliente.class.to_s=='ClienteEmpresa' ? @solicitud.cliente.empresa.nombre : @solicitud.cliente.persona.nombre_corto  %>


  <%= message %>
  <div id="error">
    <div id="errorExplanation" class="errorExplanation" style="display: none; text-align: left"></div>
  </div>


  <%= form_remote_tag(
    :loading =>'image_load()', :loaded => 'image_unload()',
    :url => { :action => :reestructurar_deuda, :controlador => 'reestructuracion_comite', :reestructuracion_id=>@reestructuracion_detalle[0].reestructuracion_id} ) do -%>
  
<%= render :partial => 'form' %>

  <br><br><br><br>

  <div id="div-botones">		
    <%= render :partial => 'botones' %>
  </div>
  
  <br><br>
  <%= link_to(image_tag(image_path(I18n.t('Sistema.Body.Imagenes.cerrar')), :title=>I18n.t('Sistema.Body.Vistas.General.cerrar')),
    { :action => :index },
    { :id=>'button_close' } ) -%>		
  <% end %>

</div>