<div id="tabs">
  <ul>
    <%
    action_name = controller.action_name
    controller_name = controller.controller_name
    if controller_name=='cliente_persona_direccion'
    %>
      <li id="actual"><div><a href="#"><%= I18n.t('Sistema.Body.Vistas.General.ubicacion') %></a></div></li>
    <% 
    else 
    %>
      <li><div>
          <%= link_to(I18n.t('Sistema.Body.Vistas.General.ubicacion'), :controller => 'cliente_persona_direccion', :action => 'edit', :popup=>params[:popup], :persona_id => @persona.id, :id => @persona_direccion.id) if action_name == 'index' %>
          <%= link_to(I18n.t('Sistema.Body.Vistas.General.ubicacion'), :controller => 'cliente_persona_direccion', :action => 'view_detail', :popup=>params[:popup], :persona_id => @persona.id, :id => @persona_direccion.id) if (action_name=='view_detail' || action_name=='view')  %>
        </div></li>
    <% 
    end
    if @persona_direccion.id
      if controller_name=='cliente_persona_direccion_telefono' 
      %>
        <li id="actual"><div><a href="#"><%= I18n.t('Sistema.Body.Vistas.General.telefonos') %></a></div></li>
      <% 
      else
      %>
        <li><div>
            <%= link_to(I18n.t('Sistema.Body.Vistas.General.telefonos'), :controller => 'cliente_persona_direccion_telefono', :action => 'index', :popup=>params[:popup], :persona_id => @persona.id, :persona_direccion_id => @persona_direccion.id) if action_name == 'edit' %>
            <%= link_to(I18n.t('Sistema.Body.Vistas.General.telefonos'), :controller => 'cliente_persona_direccion_telefono', :action => 'view', :popup=>params[:popup], :persona_id => @persona.id, :persona_direccion_id => @persona_direccion.id) if (action_name == 'view' || action_name == 'view_detail')  %>			     
          </div></li>
      <% 
      end
    end
  %>
  </ul>
</div>