<%= form_title_edit @rubro.nombre %>

<%= render :partial=>'basico/sector/common/tabs' %>
<div class="marco-contenido2">
  <%= render :partial=>'basico/rubro/common/tabs' %>
  <div class="marco-contenido2">
    <%= error  %>
    <%= message  %>
<% @rubro.activo.to_s %>
    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :id => @rubro.id, :sub_sector_id =>@sub_sector.id, :popup=>params[:popup] } ) do-%>

    <%= render 'form' %>

    <div id="buttons_edit" style="display: none">
      <%= form_buttons_edit  :sub_sector_id =>@sub_sector.id, :popup=>params[:popup] %>
    </div>

    <%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.cancelar')),
      { :controller=> 'rubro', :action => :index, :sub_sector_id =>@sub_sector.id, },
      { :id=>'button_close' } ) -%>

    <%end-%>
  </div>
</div>

