<div class="marco-contenido">

  <%= form_title_edit @persona.nombre_corto %>

  <%= render :partial=>'clientes/cliente_persona/common/tabs' %>
  <div class="marco-contenido2">

    <%= error %>
    <%= message %>

    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :id=>@unidad_produccion.id, :popup=>params[:popup] }  ) do -%>

    <%= render :partial => 'form' %>

    <% end -%>
  </div>

</div>