<table class="lista" style="width: 100%">
  <thead>
    <tr>

      <th style="width: 360px" <%= sort_class_helper('descripcion') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.General.descripcion'), 'descripcion', 'list' %>
      </th>
      <th>
        <%= I18n.t('Sistema.Body.Vistas.General.activo') %>
      </th>
      <th style="width: 50px">
        <%= I18n.t('Sistema.Body.Vistas.General.acciones') %>
      </th>
    </tr>
  </thead>
  <tbody id="list_body">
    <%
    even_odd = 1
    for motivos_atraso in @list
      even_odd = 1 - even_odd %>
      <%= render :partial => 'row', :locals => { :motivos_atraso => motivos_atraso, :even_odd => even_odd } -%>
    <% end %>
  </tbody>
</table>

<%= form_pagination %>
