<table class="lista" style="width: 100%">
  <thead>
  <tr>
    <th style="width: 260px" <%= sort_class_helper('tipo_cliente.nombre') %>>
      <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.nombre'), 'tipo_cliente.nombre', 'list' %>
      </th>
    <th style="width: 285px" <%= sort_class_helper('tipo_cliente.descripcion') %>>
      <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.descripcion'), 'tipo_cliente.descripcion', 'list' %>
    </th>
    <th style="width: 44px">
        <%= I18n.t('Sistema.Body.Vistas.General.acciones')%>
    </th>
  </tr>
  </thead>
  <tbody id="list_body">
    <% even_odd = 1
      logger.info "list ======> #{@list.inspect}"
      for programa_tipo_cliente in @list
        even_odd = 1 - even_odd %>
        <%= render :partial => 'row', :locals => { :tipo_cliente => programa_tipo_cliente, :even_odd => even_odd } -%>
      <% end %>
  </tbody>
</table>

<%= form_pagination %>
