<table class="lista" style="width: 100%">
  <thead>
  <tr>
    <th style="width: 260px" <%= sort_class_helper('tipo_cliente.nombre') %>>
      <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.nombre'), 'tipo_cliente.nombre', 'tipo_cliente_list' %>
      </th>
    <th style="width: 285px" <%= sort_class_helper('tipo_cliente.descripcion') %>>
      <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.descripcion'), 'tipo_cliente.descripcion', 'tipo_cliente_list' %>
    </th>
  </tr>
  </thead>
  <tbody id="list_body">
    <%
      even_odd = 1
      for tipo_cliente in @list
        even_odd = 1 - even_odd %>

        <% tipo_cliente = @tipo_cliente if tipo_cliente.nil? %>
        <tr class="lista<%= even_odd %>" id="row_<%= tipo_cliente.id %>">
          <td>
            <%= tipo_cliente.nombre  %>
          </td>
          <td>
            <%= tipo_cliente.descripcion %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_pagination %>
