<div class="marco-boton-out" id="button_new">
  <%= form_remote_tag(
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :method=>:get,
    :url => { :action => :check_ci_new, :popup=>params[:popup] }) do %>
  <span>
    <table align="right" class="tabla-boton-out">
      <tr>
        <td>
          <label>Nro. C&eacute;dula</label>
        </td>
        <td>
          <%=  select_tag "letra_cedula", 
          "<option value='V' >V</option>
          <option value='E' >E</option>".html_safe, :include_blank => true, :onchange=>';inputChange();', :class=>'select'%>-
          <%= text_field_tag 'cedula', '',
            :class=>'text', :style=>'width: 90px',
            :maxlength=>'8', :onkeypress=>'return NumberKey(event);' %>
        </td>
        <td>
          <%= image_submit_tag I18n.t('Sistema.Body.Imagenes.agregar'), :title=>I18n.t('Sistema.Body.Controladores.Accion.agregar'), :id=>'button_add' -%>
        </td>
      </tr>
    </table>
  </span>
<% end %>
</div>

<div class="marco-contenido">
  <%= form_title_search %>
  <%= form_remote_tag(
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :method=>:get,
    :url => { :action => :list, :popup=>params[:popup] } ) do %>
  <table>
    <tr>
      <td style="width: 130px">
        <label>Nro. C&eacute;dula</label>
      </td>
      <td>
        <%=  select_tag "letra_cedula", 
          "<option value='V' >V</option>
          <option value='E' >E</option>".html_safe, :include_blank => true, :onchange=>'inputChange();', :class=>'select' %> -      
        <%= text_field_tag 'cedula', '', :class=>'text', :maxlength=>'8', :style=>'width: 73px', :onkeypress=>'return NumberKey(event);'  %>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td style="width: 130px">
        <label><%= I18n.t('Sistema.Body.Vistas.General.primer_nombre') %></label>
      </td>
      <td>
        <%= text_field_tag 'primer_nombre', '', :class=>'text', :maxlength=>'20', :style=>'width: 120px'  %>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td style="width: 130px">
        <label><%= I18n.t('Sistema.Body.Vistas.General.primer_apellido') %></label>
      </td>
      <td>
        <%= text_field_tag 'primer_apellido', '', :class=>'text', :maxlength=>'20', :style=>'width: 120px'  %>
      </td>
    </tr>
    <tr>
      <td style="width: 130px"><label><%=I18n.t('Sistema.Body.Vistas.General.estado')%></label></td>
      <td style="width: 230px">
        <%= select(
          'tecnico_campo','estado_id',
          @estado.map{|i| [i.nombre, i.id]},
          {:prompt=>I18n.t('Sistema.Body.Vistas.General.seleccionar')},
          { :class=>'select', :onchange=>"#{remote_function(
            :loading =>'Element.show("loading")',
            :loaded => 'Element.hide("loading")',
            :method => :get,
            :url=>{:controller=>'tecnico_campo',
            :action=>:estado_change_index },
            :with=>"'estado_id='+value")}; inputChange();" } ) %>
      </td>
    </tr>
    <tr>
      <td>
        <label><%=I18n.t('Sistema.Body.Vistas.General.oficina')%></label>
      </td>
      <td>
        <span id="oficina-search">
          <%= render :partial=>'oficina_search' %>
        </span>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= image_submit_tag(I18n.t('Sistema.Body.Imagenes.buscar'), :title=>I18n.t('Sistema.Body.Vistas.General.buscar')) -%>
      </td>
    </tr>
  </table>
  <% end %>

  <%= error %>
  <%= message %>
  <br>
  <div id="list">
  </div>
</div>
