<div class="marco-contenido2">

	<table>
		<tr>
			<td style="width: 100px">
				<label><%=I18n.t('Sistema.Body.Vistas.General.nombre')%></label>
			</td>
			<td style="width: 600px">
				
			</td>
		</tr>
		<tr>
			<td>
				<label><%=I18n.t('Sistema.Body.General.descripcion')%></label>
			</td>
			<td>
				
			</td>
		</tr>
		<tr>
		  <td>
		      <label><%=format_bool I18n.t('Sistema.Body.Vistas.General.activo')%></label>
		  </td>
		  <td>
				
		  </td>
	  </tr>
	</table>
		
	<%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.boton_modificar')),
		:action => :edit,
		:id => @sector.id,
		:html_options => { :id=>'button_edit' } ) if vlink 'edit' -%>

		
	<%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.cerrar')),
		{ :action => :index },
		{ :id=>'button_close' } ) -%>

</div>
