<table>
   <tr>
    <td style="width: 250px">
      <label><%=I18n.t('Sistema.Body.Modelos.Programa.porcentaje_riesgo_beneficiario') %></label>
    </td>
    <td style="width: 450px">
      <%= text_field 'programa', 'porcentaje_riesgo_foncrei_f', :class=>'text', :style=>'width: 60px', :maxlength=>'5'  -%>
    </td>
   </tr>
   <tr>
    <td>
      <label><%=I18n.t('Sistema.Body.Modelos.Programa.porcentaje_riesgo_intermediario') %></label>
    </td>
    <td>
      <%= text_field 'programa', 'porcentaje_riesgo_intermediario_f', :class=>'text', :style=>'width: 60px', :maxlength=>'5'  -%>
    </td>
   </tr>
   <tr>
    <td>
      <label><%= "#{I18n.t('Sistema.Body.Vistas.General.tasa')} #{I18n.t('Sistema.Body.Vistas.General.beneficiario')}"%></label>
    </td>
    <td>
      <%= text_field 'programa', 'porcentaje_tasa_foncrei_f', :class=>'text', :style=>'width: 60px', :maxlengt =>'5'  -%>
    </td>
   </tr>
   <tr>
    <td>
      <label><%= "#{I18n.t('Sistema.Body.Vistas.General.tasa')} #{I18n.t('Sistema.Body.Vistas.General.intermediario')}%></label>
    </td>
    <td>
      <%= text_field 'programa', 'porcentaje_tasa_intermediario_f', :class=>'text', :style=>'width: 60px', :maxlength=>'5'  -%>
    </td>
   </tr>
   <tr>
    <td valign="top">
      <label><%= I18n.t('Sistema.Body.Modelos.Programa.Columnas.frecuencia_pago_intermediado')%></label>
    </td>
    <td style="text-align: left">

      <%= radio_button 'programa', 'frecuencia_pago_intermediario', "1", :class=>'text'  -%>
      <%=I18n.t('Sistema.Body.General.Periodos.mensual')%><br />

      <%= radio_button 'programa', 'frecuencia_pago_intermediario', "3", :class=>'text'  -%>
      <%=I18n.t('Sistema.Body.General.Periodos.trimestral')%><br />

      <%= radio_button 'programa', 'frecuencia_pago_intermediario', "6", :class=>'text'  -%>
      <%=I18n.t('Sistema.Body.General.Periodos.semestral')%><br />

      <%= radio_button 'programa', 'frecuencia_pago_intermediario', "12", :class=>'text'  -%>
      <%= I18n.t('Sistema.Body.General.Periodos.anual') %><br />
    </td>
   </tr>

</table>
