<%= form_title_new %>

<%= error %>
<%= message %>
<div id="errorExplanation" class="errorExplanation" style="display: none; text-align: left">
</div>

<%= form_remote_tag(
  :loading =>'image_load()',
  :loaded => 'image_unload()',
  :url => { :action => :save_new } ) do -%>
  <%= render :partial => 'form' %>
  <%= form_buttons_edit %>
<% end -%>
