<% casa_proveedora = @casa_proveedora if casa_proveedora.nil? %>
<td style="text-align: center">
	<%= casa_proveedora.rif  %>
</td>
<td style="text-align: center">
	<%= casa_proveedora.nombre  %>
</td>
<td style="text-align: center">
	<%= casa_proveedora.estado.nombre  %>
</td>
<td>
	<%= casa_proveedora.descripcion  %>
</td>


<td style="text-align: center">  
   
  <%= link_to(image_tag(I18n.t('Sistema.Body.Imagenes.consultar')), :action => 'view', :method=>:get, :id => casa_proveedora.id) %>&nbsp;
  <%= link_to(image_tag(I18n.t('Sistema.Body.Imagenes.modificar')), :action => 'edit', :method=>:get, :id => casa_proveedora.id) if vlink 'edit' %>&nbsp;  
	
	<%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.eliminar')),
		:loading =>'image_load()',
 	    :loaded => 'image_unload()',
	    :confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
		:url => {:controller => 'casa_proveedora', :action => :delete, :id => casa_proveedora.id}) if vlink 'delete' -%>
    
</td> 
