<%= form_title_edit @casa_proveedora.nombre %>
<%= render 'basico/casa_proveedora/common/tabs' -%>		
<div class="marco-contenido2">

	<%= form_remote_tag(
		:loading =>'image_load()',
		:loaded => 'image_unload()',
	  :url => { :action => :save_edit, :id=>@casa_proveedora.id } ) do-%>
		<%= render 'form' -%>
		
		<div id="buttons_edit" style="display: none">
			<%= form_buttons_edit %>
		</div>
		
		<%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.cerrar')),
			{ :action => :index },
			{ :id=>'button_close' } ) -%>
		
	<% end -%>
</div>
