<%= form_title_search %>

<%= form_remote_tag(
  :loading =>'image_load()',
  :loaded => 'image_unload()',
  :method=> :get,
  :url => { :action => :list } ) do-%>
 <table>
  <tr>
    <td style="width: 60px"><label><%=I18n.t('Sistema.Body.Vistas.General.estado')%>:</label></td>
    <td align="left" style="width: 300px">
      <%= select(
          'estado_id','',
          @estado.map{|e| [e.nombre, e.id]},
          { :prompt=>I18n.t('Sistema.Body.Vistas.Form.seleccionar')},
          { :class=>'select', :onchange=>'inputChange();'})
      %>
    </td>
    <td>
      <%= image_submit_tag(I18n.t('Sistema.Body.Imagenes.buscar')) -%>
    </td>
  </tr>
</table>
<% end %>
<%= form_remote_tag(
  :loading =>'image_load()',
  :loaded => 'image_unload()',
  :method=> :get,
  :url => { :action => :list } ) do-%>
  <table>
    <tr>
      <td style="width: 60px"><label><%=I18n.t('Sistema.Body.Vistas.General.nombre')%>:</label></td>
      <td align="left" style="width: 300px">
        <%= text_field_tag 'nombre', '', :class=>'text', :maxlength=>'50', :style=>'width: 300px'  %>
      </td>
      <td>
        <%= image_submit_tag(I18n.t('Sistema.Body.Imagenes.buscar')) -%>
      </td>
    </tr>
  </table>
<% end %>
<%= form_remote_tag(
  :loading =>'image_load()',
  :loaded => 'image_unload()',
  :method=> :get,
  :url => { :action => :list } ) do-%>
  <table>
    <tr>
      <td style="width: 60px"><label><%=I18n.t('Sistema.Body.Vistas.General.rif')%>:</label></td>
      <td align="left" style="width: 300px">
        <%= text_field_tag 'rif', '', :class=>'text', :maxlength=>'20', :style=>'width: 300px'  %> 
      </td>
      <td>
        <%= image_submit_tag(I18n.t('Sistema.Body.Imagenes.buscar')) -%> <%= I18n.t('Sistema.Body.General.ejemplo_documento')%> 
      </td>
    </tr>
  </table>
<% end %>
<br>
<%= error %>
<%= message %>
<br>
<div id="list">

</div>






