<td align="center">
  <%= prestamo.numero %>
</td>
<td align="center">
  <%= prestamo.estatus_w %>
</td>
<td align="center">
  <%= prestamo.solicitud.sector.nombre %>
</td>
<td align="center">
  <%= prestamo.solicitud.sub_sector.nombre %>
</td>
<td align="right">
  <%= prestamo.capital_vencido_fm %>
</td>
<td align="center">
  <%= prestamo.moneda.nombre + " - " + prestamo.moneda.abreviatura %>
</td>
<td align="center">
  <%= prestamo.cantidad_cuotas_vencidas %>
</td>
<td align="center">
  <%= prestamo.dias_mora %>
</td>
<td>
  <%= prestamo.analista_cobranzas.analista unless prestamo.analista_cobranzas.nil? %>
</td>
<td style="text-align: right">

  <%= link_to(image_tag(image_path(t('Sistema.Body.Imagenes.agregar_mas')),:title=>t('Sistema.Body.Controladores.Accion.agregar_gestion')), {:controller => 'gestion_cobranzas', :action => 'index', :id => prestamo.id }) %>&nbsp;
  <%= link_to(image_tag(image_path(t('Sistema.Body.Imagenes.consultar')),:title=>t('Sistema.Body.Controladores.Accion.consultar_gestion')), {:controller => 'prestamos/consulta_prestamo', :action => 'view', :id => prestamo.id, :popup=>true}, :onclick=>"window.open(this.href,'" + t('Sistema.Body.Vistas.ConsultaPrestamoPlanPago.Etiquetas.financiamiento') + "',
'height=800,width=1000,scrollbars=yes,resizable=yes'); return false;")  %>&nbsp;

</td>
