<%#= render :partial=>'basico/desembolso/common/tabs' %>
<div class="marco-contenido">  
 <%= form_title_search %>

  <table class="lista" style="width: 100%">
    <thead>
    <tr>
          <th ><%=I18n.t('Sistema.Body.Vistas.General.fecha_generacion')%></th>
          <th><%=I18n.t('Sistema.Body.Vistas.General.archivo')%></th>
          <th style="width: 60px"><%=I18n.t('Sistema.Body.Modelos.OrdenDespacho.Mensajes.cantidad_ordenes_procesadas')%></th>
          <th><%=I18n.t('Sistema.Body.Vistas.General.monto')%></th>
          <th><%=I18n.t('Sistema.Body.Vistas.General.entidad_financiera')%></th>
          <th><%=I18n.t('Sistema.Body.Vistas.Form.estatus')%></th>
          <th><%=I18n.t('Sistema.Body.Vistas.General.acciones')%></th>
     </tr>
     </thead>
     <tbody id="list_body">

          <% even_odd = 1
          @mostrar_archivo.each do |archivo|
          even_odd = 1 - even_odd %>
          <%# if (archivo.estatus == 2 || archivo.estatus == 3) %>  <!-- SOLO SE MOSTRARAN LOS QUE TENGAN ESTATUS 2 Y 3 -->
              
             <tr class="lista<%=even_odd %>" >

                <td align="center"><%= format_fecha(archivo.fecha) %></td>
                <td align="center"><%= archivo.archivo %></td>
                <td align="center"><%= archivo.numero_procesado %></td>
                <td align="center"><%=format_fm(archivo.monto_procesado) %></td>
                <td align="center"><%= EntidadFinanciera.find(archivo.entidad_financiera_id).nombre %></td>
                <td align="center">
                <%case archivo.estatus
                    when 1%>
                      <%= I18n.t('Sistema.Body.General.generando_archivo') %>
                  <%when 2%>
                      <%= I18n.t('Sistema.Body.General.archivo_generado') %>
                 <%else%>
                      <%= I18n.t('Sistema.Body.General.archivo_enviado') %>
               <%end%>
                </td>

                </td>            
             <td align="center"><a target='_blank' href='<%="#{request.protocol}#{request.host.to_s}"%>:<%="#{request.port.to_s}"%>/documentos/orden_despacho_insumo/envio/<%="#{archivo.archivo}"%>' ><%=I18n.t('Sistema.Body.General.descargue_aqui')%></a></td>
             </tr>

           <%#end%>
           <% end %>
           
     </tbody>
  </table>
  <br>
<%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.cerrar')),
				{ :action => :index },
				{ :id=>'button_close' } ) -%>  
</div>
