<%= error_messages_for 'control_cobranza' %>

<!--[form:control_cobranza]-->
<p><label for="control_cobranza_fecha">Fecha</label><br/>
<%= date_select 'control_cobranza', 'fecha'  %></p>

<p><label for="control_cobranza_archivo">Archivo</label><br/>
<%= text_field 'control_cobranza', 'archivo'  %></p>

<p><label for="control_cobranza_procesamiento">Procesamiento</label><br/>
<%= text_field 'control_cobranza', 'procesamiento'  %></p>

<p><label for="control_cobranza_numero_procesado">Numero procesado</label><br/>
<%= text_field 'control_cobranza', 'numero_procesado'  %></p>

<p><label for="control_cobranza_monto_procesado">Monto procesado</label><br/>
<%= text_field 'control_cobranza', 'monto_procesado'  %></p>

<p><label for="control_cobranza_numero_leido">Numero leido</label><br/>
<%= text_field 'control_cobranza', 'numero_leido'  %></p>

<p><label for="control_cobranza_monto_leido">Monto leido</label><br/>
<%= text_field 'control_cobranza', 'monto_leido'  %></p>
<!--[eoform:control_cobranza]-->

