<td align="center">
  <%= unidad_produccion.id %>
</td>
<td>
  <%= unidad_produccion.nombre %>
</td>
<% if @empresa.cliente_empresa.es_pescador == false %>
  <td>
    <%= unidad_produccion.total_hectareas %>
  </td>
<% else %>
  <td>
    <%= unidad_produccion.puerto_base %>
  </td>
<% end %>
<td>
  <%= unidad_produccion.municipio.estado.nombre %>
</td>
<td>
  <%= unidad_produccion.municipio.nombre %>
</td>
<td style="text-align: right">
  <%= link_to image_tag(I18n.t('Sistema.Body.Imagenes.consultar')), :action => 'view_detail',  :popup=>params[:popup], :id => unidad_produccion.id %>&nbsp;
</td>