<div class="marco-contenido">

  <div class="marco-titulo"><div><div>
        <%= I18n.t('Sistema.Body.Vistas.General.modificando') %> <%= "#{I18n.t('Sistema.Body.General.beneficiario')} #{I18n.t('Sistema.Body.Vistas.General.juridico')}" %> <span class="titulo_modificar">'<%= @empresa.alias %>'</span>
      </div></div></div>

  <%= render :partial=>'clientes/cliente_empresa/common/tabs' %>
  <div class="marco-contenido2">
    <%= form_title_new %>
    <%= error %>

    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_new, :id=>@empresa.id, :popup=>params[:popup] } ) do -%>
    <%= render :partial => 'form' %>
    <% end -%>
  </div>

</div>