<div class="marco-contenido">
  <div class="marco-titulo"><div><div>
        <%= I18n.t('Sistema.Body.Vistas.General.consultando') %> <%= "#{I18n.t('Sistema.Body.General.beneficiario')} #{I18n.t('Sistema.Body.Vistas.General.juridico')}" %> <span class="titulo_modificar">'<%= @empresa.alias %>'</span>
      </div></div></div>

  <%= render :partial=>'clientes/cliente_empresa/common/tabs' %>
  <div class="marco-contenido2">

    <br/><br/><br/>

    <table class="lista" style="width: 100%">
      <thead>
        <tr>
          <th style="width: 100px" <%= sort_class_helper('codigo') %>>
            <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.codigo'), 'codigo', 'list' %>
          </th>
          <% if @empresa.cliente_empresa.es_pescador == false %>
            <th style="width: 240px" <%= sort_class_helper('nombre') %>>
              <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.nombre'), 'nombre', 'list' %>
            </th>
            <th style="width: 200px" <%= sort_class_helper('total_hectareas') %>>
              <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.total_hectareas'), 'total_hectareas', 'list' %>
            </th>
          <% else %>
            <th style="width: 220px" <%= sort_class_helper('nombre') %>>
              <%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.General.nombre')} #{I18n.t('Sistema.Body.Vistas.General.comunidad_pesquera')}", 'nombre', 'list' %>
            </th>
            <th style="width: 140px" <%= sort_class_helper('puerto_base') %>>
              <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.puerto_base'), 'puerto_base', 'list' %>
            </th>
          <% end %>
          <th style="width: 160px">
            <%= I18n.t('Sistema.Body.Vistas.General.estado') %>
          </th>
          <th style="width: 160px">
            <%= I18n.t('Sistema.Body.Vistas.General.municipio') %>
          </th>

          <th style="width: 70px">
          </th>
        </tr>
      </thead>
      <tbody id="list-body">
        <%
        even_odd = 1
        for unidad_produccion in @list
          even_odd = 1 - even_odd %>
          <%= render :partial => 'row_view', :locals => { :unidad_produccion => unidad_produccion, :even_odd => even_odd } -%>
        <% end %>
      </tbody>
    </table>

    <%= form_pagination %>

  </div>
</div>