<tr>
  <th style="width: 1%">
  </th>
  <th style="width: 5%">
    <%= I18n.t('Sistema.Body.Vistas.Simulador.Etiquetas.numero') %>
  </th>
  <th style="width: 10%">
    <%= I18n.t('Sistema.Body.Vistas.Simulador.Etiquetas.fecha_pago') %>
  </th>
  <th style="width: 10%">
    <%= I18n.t('Sistema.Body.Vistas.Simulador.Etiquetas.monto_cuota') %>
  </th>
  <th style="width: 8%">
    <%= I18n.t('Sistema.Body.Vistas.Simulador.Etiquetas.intereses') %>
  </th>
  <th style="width: 10%">
    <%= I18n.t('Sistema.Body.Vistas.Simulador.Etiquetas.capital') %>
  </th>
  <th style="width: 10%">
    <%= I18n.t('Sistema.Body.Vistas.Simulador.Etiquetas.interes_diferido') %> <span id="lbl1"></span>
  </th>
  <th style="width: 12%">
    <%= I18n.t('Sistema.Body.Vistas.Simulador.Etiquetas.pago_total_cliente') %> <span id="lbl2"></span>
  </th>
  <th style="width: 10%">
    <%= I18n.t('Sistema.Body.Vistas.Simulador.Etiquetas.saldo_insoluto') %><span id="lbl3"></span>
  </th>
  <th style="width: 10%">
    <%= I18n.t('Sistema.Body.Vistas.Simulador.Etiquetas.porcentaje_tasa_periodo') %>
  </th>
</tr>
