  <table class="lista" style="width: 100%">
    <thead>
    <tr>
        
      <th style="width: 200px" <%= sort_class_helper('garantia_sector.sub_sector_id') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.sector'), 'garantia_sector.sub_sector_id', 'list' %>
      </th>       
      <th style="width: 200px" <%= sort_class_helper('garantia_sector.sub_sector_id') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.sub_sector'), 'garantia_sector.sub_sector_id', 'list' %>
      </th>   
      <th style="width: 200px" <%= sort_class_helper('garantia_sector.tipo_garantia_id') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Modelos.GarantiaSector.Columnas.tipo_garantia'), 'garantia_sector.tipo_garantia_id', 'list' %>
      </th>             
      <th style="width: 50px">
        <%= I18n.t('Sistema.Body.Vistas.General.acciones')%>
      </th>
    </tr>   
    </thead>
    <tbody id="list_body">
<%  
  even_odd = 1
  for garantia_sector in @list
    even_odd = 1 - even_odd %>
  <%= render :partial => 'row', :locals => { :garantia_sector => garantia_sector, :even_odd => even_odd } -%>
<% end %>
</tbody>
</table>
<%= form_pagination %>
