<div id="errorExplanation" class="errorExplanation" style="display: none;text-align: left">
</div>
<table class="lista" style="width: 100%">
  <thead>
     <% if @list.length > 0 %>
      <tr>
        <td colspan="8" style="text-align: right">
            <%= link_to(image_tag(I18n.t('Sistema.Body.Imagenes.imprimir')), {:controller => '/consultas/consulta_stock', :action => 'reporte', :parametros => @parametros, :popup=>true}, :onclick=>"window.open(this.href,'" + I18n.t('Sistema.Body.Vistas.General.solicitudes') + "', 'height=650,scrollbars=yes,width=1150'); return false;")  %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th style="width: 100px" <%= sort_class_helper('rubro.nombre') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.rubro'), 'rubro.nombre', 'list' %>
      </th>
      
      <th style="width: 200px" <%= sort_class_helper('tipo') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.tipo'), 'tipo', 'list' %>
      </th>
      
      <th style="width: 200px" <%= sort_class_helper('marca') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.marca'), 'marca', 'list' %>
      </th>
      
      <th style="width: 200px" <%= sort_class_helper('modelo') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.modelo'), 'modelo', 'list' %>
      </th>
      
      <th style="width: 150px" <%= sort_class_helper('minimo') %>>
        <%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.General.existencia')} #{I18n.t('Sistema.Body.Vistas.General.minima')}", 'minimo', 'list' %>
      </th>
      
      <th style="width: 150px" <%= sort_class_helper('maximo') %>>
        <%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.General.existencia')} #{I18n.t('Sistema.Body.Vistas.General.maxima')}", 'maximo', 'list' %>
      </th>
      
      <th style="width: 100px">
        <%= I18n.t('Sistema.Body.Vistas.General.existencia') %>
      </th>
      
      <th style="width: 150px">
        <%= I18n.t('Sistema.Body.Vistas.General.reposicion_sugerida') %>
      </th>

    </tr>
  </thead>
  <tbody id="list-body">
    <%
    even_odd = 1
    for stock in @list
      even_odd = 1 - even_odd %>
      <%= render :partial => 'row', :locals => { :stock => stock, :even_odd => even_odd } -%>
    <% end %>
  </tbody>
</table>

<%= form_pagination %>