
<div class="marco-contenido">

  <%= form_title_search %>

  <%= form_remote_tag(
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :url => { :action => :list } ) do-%>
    <table>
      </tr>

      <tr>
        <td>
          <label><%=I18n.t('Sistema.Body.Modelos.Errores.registros_realizados_desde')
          %></label>
        </td>
        <td>				
          <%= calendar_date_select_tag "transaccion_fideicomiso[fecha_desde]", nil, :year_range => 110.years.ago..-1.years.ago,:class=>'text',:style=>'width:80px',:maxlength=>'10',:autocomplete=>'off', :onfocus=>'inputChange();', :onkeypress=>'return noEscribir(event);',:valid_date_check => "date-1 < (new Date()).stripTime()" %> <%=I18n.t('Sistema.Body.General.formato_fecha')%>
        </td>
      </tr>
      </tr>

      <tr>
        <td>
          <label><%=I18n.t('Sistema.Body.Modelos.Errores.registros_realizados_hasta')%></label>
        </td>
        <td>				
          <%= calendar_date_select_tag "transaccion_fideicomiso[fecha_hasta]", nil, :year_range => 110.years.ago..-1.years.ago,:class=>'text',:style=>'width:80px',:maxlength=>'10',:autocomplete=>'off', :onfocus=>'inputChange();', :onkeypress=>'return noEscribir(event);',:valid_date_check => "date-1 < (new Date()).stripTime()" %> <%=I18n.t('Sistema.Body.General.formato_fecha')%>
        </td>
      </tr>
      <tr>
        <td style="width: 150px">

        </td>
        <td>

        </td>
        <td><%= image_submit_tag(I18n.t('Sistema.Body.Imagenes.buscar')) -%></td>
      </tr>
      <tr> 	

        <td style="width: 150px">

        </td>
        <td>

        </td>
        <td> </td>
      </tr>


    </table>
  <% end %>
  <br>	
  <%= error %>
  <%= message %>
  <script>
    function ocultar_lista(id,tipo){
      if(tipo == 1){
        document.getElementById('grupo_'+id).style.display='table-row'
      }else{
        document.getElementById('grupo_'+id).style.display='none'
      }

    }
  </script>

  <br>	
  <div id="list">
  </div>
</div>
