<% mensajes_sms = @mensajes_sms if mensajes_sms.nil? %>

<td>
  <%= mensajes_sms.nombre  %>
</td>
<td>
  <%= mensajes_sms.descripcion  %>
</td>
<td align="center">
  <%= format_bool(mensajes_sms.activo)  %>
</td>
<td style="text-align: right">
  <%= link_to_remote(
    image_tag(image_path(I18n.t('Sistema.Body.Imagenes.modificar'))),
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :url => {:controller => 'mensajes_sms', :action => :edit, :id => mensajes_sms.id}) if vlink 'edit' -%>&nbsp;
  <%= link_to_remote(
    image_tag(image_path(I18n.t('Sistema.Body.Imagenes.eliminar'))),
    :loading =>'image_load()',
    :loaded => 'image_unload()',
  :confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
    :url => {:controller => 'mensajes_sms', :action => :delete, :id => mensajes_sms.id}) if vlink 'delete' -%>
</td>
