<tr id="row_<%= @mensajes_sms.id %>_edit">
  <td class="lista-form" colspan="5">
  
    <%= form_title_edit @mensajes_sms.nombre %>
  
    <%= error "row_#{@mensajes_sms.id}" %>
  
    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :id => @mensajes_sms.id } ) do -%>
  
        <%= render  'form' %>
  
          <%= link_to_remote(
            image_tag(image_path(I18n.t('Sistema.Body.Imagenes.cancelar'))),
            :loading =>'image_load()',
            :loaded => 'image_unload()',
            :url => { :action => :cancel_edit, :id => @mensajes_sms.id}) -%>
         </td>
        </tr>
      </table>
    <% end -%>
  </td>
</tr>
