<% pastizales_potreros = @pastizales_potreros if pastizales_potreros.nil? %>
<td  style="text-align: center">
  <b><label style="color: red"><%= pastizales_potreros.nro_lote  %></b></label>
</td>	
<td  style="text-align: center">
  <%= pastizales_potreros.tipo_pasto_forraje.descripcion  %>
</td>	
<td style="text-align: right">
  <%= pastizales_potreros.superficie_f  %>
</td>
<td  style="text-align: center">
  <%= pastizales_potreros.especie_variedad_pasto.descripcion  %>
</td>
<td style="text-align: center">
  <%= pastizales_potreros.fecha_siembra_f  %>
</td>
<td style="text-align: center">
  <%= pastizales_potreros.fecha_corte_f  %>
</td>
<td style="text-align: center">
  <%= pastizales_potreros.cantidad_potreros  %>
</td>
<td style="text-align: right">
  <%= link_to_remote(image_tag(image_path(I18n.t('Sistema.Body.Imagenes.modificar')), :title=>I18n.t('Sistema.Body.Vistas.General.modificar')),
    :method=>:get, :loading =>'image_load()', :loaded => 'image_unload()',
    :url => {:controller => 'visita_pastizales_potreros', :action => :edit, :id => pastizales_potreros.id}) if vlink 'edit' -%>&nbsp;
  <%= link_to_remote(image_tag(image_path(I18n.t('Sistema.Body.Imagenes.consultar')), :title=>I18n.t('Sistema.Body.Controladores.Accion.consultar')),
    :method=>:get, :loading =>'image_load()', :loaded => 'image_unload()',
    :url => {:controller => 'visita_pastizales_potreros', :action => :view, :id => pastizales_potreros.id}) if vlink 'edit' -%>&nbsp;
  <%= link_to_remote(image_tag(image_path(I18n.t('Sistema.Body.Imagenes.eliminar')), :title=>I18n.t('Sistema.Body.Controladores.Accion.eliminar')),
    :loading =>'image_load()', :loaded => 'image_unload()', :confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
    :url => {:controller => 'visita_pastizales_potreros', :action => :delete, :id => pastizales_potreros.id}) if vlink 'delete' -%>
</td>