<table class="lista" style="width: 100%">
  <thead>
    <tr>
      <th style="width: 100px" <%= sort_class_helper('nro_lote') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.VisitaPastizalesPotreros.Etiquetas.nro_lote'), 'nro_lote', 'list' %>
      </th>
      <th style="width: 250px" <%= sort_class_helper('tipo_pasto_forraje_id') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Controladores.TipoPastoForraje.FormTitles.form_title'), 'tipo_pasto_forraje_id', 'list' %>
      </th>
      <th style="width: 150px" <%= sort_class_helper('superficie') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.superficie'), 'superficie', 'list' %>
      </th> 	
      <th style="width: 250px" <%= sort_class_helper('especie_variedad_pasto_id') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Modelos.PastizalesPotreros.Columnas.especie_variedad_pasto'), 'especie_variedad_pasto_id', 'list' %>
      </th>
      <th style="width: 150px" <%= sort_class_helper('fecha_siembra') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Modelos.SeguimientoCultivo.Columnas.fecha_siembra'), 'fecha_siembra', 'list' %>
      </th>
      <th style="width: 150px" <%= sort_class_helper('fecha_corte') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Modelos.PastizalesPotreros.Columnas.fecha_corte'), 'fecha_corte', 'list' %>
      </th>
      <th style="width: 200px" <%= sort_class_helper('cantidad_potreros') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Modelos.PastizalesPotreros.Columnas.cantidad_potreros'), 'cantidad_potreros', 'list' %>
      </th>
      <th style="width: 50px">
        <%= I18n.t('Sistema.Body.Vistas.General.acciones')%>
      </th>
    </tr>		
  </thead>
  <tbody id="list_body">
    <%  
    even_odd = 1
    for pastizales_potreros in @list
      even_odd = 1 - even_odd %>
      <%= render :partial => 'row', :locals => { :pastizales_potreros => pastizales_potreros, :even_odd => even_odd } -%>
    <% end %>
  </tbody>
</table>

<%= form_pagination %>