<table style="width: 100%">

  <tr>
    <td class="separador" valign="bottom" colspan="2">
      <span><%=I18n.t('Sistema.Body.Vistas.GestionarGarantia.Etiquetas.avaluo_institucion')%></span>
    </td>
  </tr>

  <tr>
    <td style="width: 20%">
      <label><%=I18n.t('Sistema.Body.Modelos.SolicitudAvaluo.Errores.nombre_perito')%></label> <label style="color: red"> (*)</label>
    </td>
    <td style="width: 80%">
      <%= text_field 'solicitud_avaluo_prenda', 'nombre_perito',
        :class=>'text',
        :style=>'width: 300px',
        :maxlength=>'100', :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>

  <tr>
    <td>
      <label><%=I18n.t('Sistema.Body.Modelos.SolicitudAvaluoMobiliario.Errores.fecha_avaluo_mobiliario')%></label> <label style="color: red"> (*)</label>
    </td>
    <td>
      <%= calendar_date_select_tag "solicitud_avaluo_prenda[fecha_avaluo_prenda_f]", @solicitud_avaluo_prenda.fecha_avaluo_prenda_f, 
        :year_range => 110.years.ago..-1.years.ago,:class=>'text', :style=>'width: 80px',:maxlength=>'10', 
        :onkeypress=>'inputChange();',:valid_date_check => "date-1 < (new Date()).stripTime()",:onchange=>'inputChange();' %>(dd/mm/aaaa)
    </td>
  </tr>

  <tr>
    <td style="width: 20%">
      <label><%=I18n.t('Sistema.Body.Vistas.GestionarGarantia.Etiquetas.numero_sudeban')%></label>
    </td>
    <td style="width: 80%">
      <%= text_field 'solicitud_avaluo_prenda', 'numero_sudeban_prenda',
        :class=>'text', :style=>'width: 100px',
        :maxlength=>'20', :onkeypress=>'inputChange();',
        :onchange=>'inputChange();'  -%>
    </td>
  </tr>

  <tr>
    <td>
      <label><%=I18n.t('Sistema.Body.Modelos.SolicitudAvaluoMobiliario.Errores.valor_avaluo')%></label> <label style="color: red"> (*)</label>
    </td>
    <td>
      <%= text_field 'solicitud_avaluo_prenda', 'valor_avaluo_prenda_f',
        :class=>'text', :style=>'width: 100px', :maxlength=>'16',
        :onkeypress=>'montosolicitud(); inputChange();',
        :onchange=>'inputChange();',
        :onkeyup=>"inputChange(); formatCurrency(this.value, 'solicitud_avaluo_prenda_valor_avaluo_prenda'); "  -%>
      <%= display_number @solicitud_avaluo_prenda.valor_avaluo_prenda, 'solicitud_avaluo_prenda_valor_avaluo_prenda' %>&emsp;<%= @solicitud.moneda.abreviatura.to_s %>
    </td>
  </tr>

  <tr>
    <td class="separador" valign="bottom" colspan="2">
      <span><%=I18n.t('Sistema.Body.Vistas.General.semovientes')%></span>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <div id="semovientes">
        <%= render :partial=> 'prenda_semoviente' %>
      </div>
    </td>
  </tr>

  <tr>
    <td class="separador" valign="bottom" colspan="2">
      <span><%=I18n.t('Sistema.Body.Vistas.GestionarGarantia.Etiquetas.documento_oferta')%></span>
    </td>
  </tr>

  <tr>
    <td valign="top">
      <label><%=I18n.t('Sistema.Body.Vistas.GestionarGarantia.Etiquetas.tipo_documento_oferta')%></label>
    </td>
    <td>
      <%= radio_button 'solicitud_avaluo_prenda', 'tipo_documento', 'P',
        :class=>'text', :onclick=>'inputChange();'  -%><%= I18n.t('Sistema.Body.Vistas.GestionarGarantia.Etiquetas.presupuesto')%><br/>
      <%= radio_button 'solicitud_avaluo_prenda', 'tipo_documento', 'C',
        :class=>'text', :onclick=>'inputChange();'  -%><%=I18n.t('Sistema.Body.Vistas.GestionarGarantia.Etiquetas.cotizacion')%><br/>
      <%= radio_button 'solicitud_avaluo_prenda', 'tipo_documento', 'F',
        :class=>'text', :onclick=>'inputChange();'  -%><%=I18n.t('Sistema.Body.Vistas.GestionarGarantia.Etiquetas.factura_proforma')%><br/>
      <%= radio_button 'solicitud_avaluo_prenda', 'tipo_documento', 'N',
        :class=>'text', :onclick=>'inputChange();'  -%><%=I18n.t('Sistema.Body.General.no_aplica')%>
    </td>
  </tr>

  <tr>
    <td><label><%=I18n.t('Sistema.Body.Vistas.General.referencia')%></label></td>
    <td>
      <%= text_field 'solicitud_avaluo_prenda', 'referencia_documento',
        :class=>'text',
        :style=>'width: 200px',
        :maxlength=>'20', :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>

  <tr>
    <td>
      <label><%=I18n.t('Sistema.Body.Modelos.SolicitudAvaluoMobiliario.Errores.fecha_documento')%></label>
    </td>
    <td>
      <%= calendar_date_select_tag "solicitud_avaluo_prenda[fecha_documento_f]", @solicitud_avaluo_prenda.fecha_documento_f, 
        :year_range => 110.years.ago..-1.years.ago,:class=>'text', :style=>'width: 80px',:maxlength=>'10', 
        :onkeypress=>'inputChange();',:valid_date_check => "date-1 < (new Date()).stripTime()",:onchange=>'inputChange();' %>(dd/mm/aaaa)
    </td>
  </tr>

  <tr>
    <td><label><%=I18n.t('Sistema.Body.Vistas.GestionarGarantia.Etiquetas.empresa_documento')%></label></td>
    <td>
      <%= text_field 'solicitud_avaluo_prenda', 'empresa_documento',
        :class=>'text',
        :style=>'width: 300px',
        :maxlength=>'100', :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>

  <tr>
    <td><label><%="#{I18n.t('Sistema.Body.Vistas.General.rif')} #{I18n.t('Sistema.Body.Vistas.General.empresa')}"%></label></td>
    <td>
      <%= text_field 'solicitud_avaluo_prenda', 'rif_empresa_documento',
        :class=>'text',
        :style=>'width: 200px',
        :maxlength=>'12', :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>

  <tr>
    <td class="separador" valign="bottom" colspan="2">
      <span><%=I18n.t('Sistema.Body.Vistas.GestionarGarantia.Etiquetas.documento_definitivo')%></span>
    </td>
  </tr>

  <tr>
    <td><label><%=I18n.t('Sistema.Body.Vistas.General.referencia')%></label></td>
    <td>
      <%= text_field 'solicitud_avaluo_prenda', 'referencia_definitivo',
        :class=>'text',
        :style=>'width: 200px',
        :maxlength=>'20', :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>

  <tr>
    <td><label><%=I18n.t('Sistema.Body.Vistas.ConsultaPrestamoSituacion.Etiquetas.fecha_factura')%></label></td>
    <td>
      <%= calendar_date_select_tag "solicitud_avaluo_prenda[fecha_factura_f]", @solicitud_avaluo_prenda.fecha_factura_f, 
        :year_range => 110.years.ago..-1.years.ago,:class=>'text', :style=>'width: 80px',:maxlength=>'10', 
        :onkeypress=>'inputChange();',:valid_date_check => "date-1 < (new Date()).stripTime()",:onchange=>'inputChange();' %>(dd/mm/aaaa)
    </td>
  </tr>

  <tr>
    <td><label><%=I18n.t('Sistema.Body.Vistas.GestionarGarantia.Etiquetas.empresa_factura')%></label></td>
    <td>
      <%= text_field 'solicitud_avaluo_prenda', 'empresa_factura',
        :class=>'text',
        :style=>'width: 300px',
        :maxlength=>'100', :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>

  <tr>
    <td><label><%="#{I18n.t('Sistema.Body.Vistas.General.rif')} #{I18n.t('Sistema.Body.Vistas.General.empresa')}"%></label></td>
    <td>
      <%= text_field 'solicitud_avaluo_prenda', 'rif_empresa_difinitivo',
        :class=>'text',
        :style=>'width: 200px',
        :maxlength=>'12', :onkeypress=>'inputChange();'  -%>
    </td>
  </tr>

</table>