<%= form_title_search %>

<%= form_remote_tag(
	:loading =>'image_load()',
    :loaded => 'image_unload()',
    :method=>:get,
  :url => { :action => :list } ) do-%>
	<table>
		<tr>
			<td style="width: 120px">
				<label><%=I18n.t('Sistema.Body.Vistas.General.banco')%></label>
			</td>
			<td>
				<%= select(
			  		'entidad_financiera_id','',
			  		@entidad_financiera_list.map{|e| [e.nombre, e.id]},
			   		{ :prompt => I18n.t('Sistema.Body.Vistas.Form.seleccionar') },
			 		{ :class=>'select', :onchange=>'inputChange();' } ) %>
			</td>
			<td>
				<%= image_submit_tag(image_path(I18n.t('Sistema.Body.Imagenes.buscar'))) -%>
			</td>
		</tr>
	</table>
<% end %>
<%= form_remote_tag(
	:loading =>'image_load()',
    :loaded => 'image_unload()',
    :method=>:get,
  :url => { :action => :list } ) do-%>
	<table>
		<tr>
			<td style="width: 120px">
				<label><%=I18n.t('Sistema.Body.Vistas.General.numero') << " " << I18n.t('Sistema.Body.Vistas.General.de') << " " << I18n.t('Sistema.Body.Vistas.General.cuenta') %></label>
			</td>
			<td>
				<%= text_field_tag 'numero', '', :class=>'text', :maxlength=>'20', :style=>'width: 300px'  %>
			</td>
			<td>
				<%= image_submit_tag(image_path(I18n.t('Sistema.Body.Imagenes.buscar'))) -%>
			</td>
		</tr>
	</table>
<% end %>

<%= error %>
<%= message %>
<br>
<div id="list">
</div>
