<div class="marco-titulo"><div><div>
      Modificando <%= Etiquetas.etiqueta(9) %> Natural <span class="titulo_modificar">'<%= @persona.nombre_corto %>'</span>
    </div></div></div>

<%= render :partial=>'clientes/cliente_persona/common/tabs' %>
<div class="marco-contenido2">

  <%= form_title_edit @persona_direccion.tipo_nombre %>

  <%= render :partial=>'clientes/cliente_persona_direccion/common/tabs' %>
  <div class="marco-contenido2">
    <%= error  %>
    <%= message  %>

    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :persona_id => @persona.id, :id => @persona_direccion.id, :popup=>params[:popup] } ) do -%>

    <%= render :partial => 'form' %>

    <div id="buttons_edit" style="display: none">
      <%= form_buttons_edit :persona_id => @persona.id, :popup=>params[:popup] %>
    </div>

    <%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.cerrar')),
      { :action => :index, :persona_id => @persona.id, :popup=>params[:popup] },
      { :id=>'button_close', } ) -%>

    <% end -%>
  </div>
</div>