<div class="marco-contenido">
  <table width="100%" border="0">
    <tr style="width: 10px">
        <td class="separador" valign="bottom" colspan="2">
                <span><%=I18n.t('Sistema.Body.Vistas.General.datos_basicos')%></span>
        </td>
       <td></td>
    </tr>
    <tr>
      <td width="20%"><label>&nbsp;<%=I18n.t('Sistema.Body.Vistas.Form.nro_tramite')%></label></td>
      <td>
        <%=  @solicitud.numero -%>
      </td>
    </tr>
    <tr>
      <td><label>&nbsp;<%=I18n.t('Sistema.Body.General.beneficiario')%></label></td>
      <td>
        <%=  @solicitud.cliente.nombre -%>
      </td>
    </tr>
    <tr>
      <td><label>&nbsp;<%=I18n.t('Sistema.Body.Vistas.General.cedula')%> / <%=I18n.t('Sistema.Body.Vistas.General.rif')%></label></td>
      <td>
          <%= @solicitud.cliente.class.to_s=='ClienteEmpresa' ?
              @solicitud.cliente.empresa.rif :
              @solicitud.cliente.persona.cedula 
          %>
      </td>
    </tr>
    <tr>
      <td><label>&nbsp;<%=I18n.t('Sistema.Body.Vistas.General.monto')%> <%=I18n.t('Sistema.Body.Vistas.General.solicitado')%></label></td>
      <td>
        <%=  @solicitud.monto_solicitado_fm -%>
      </td>
    </tr>
    <tr>
        <td></td>
       <td></td>
    </tr>
    
    <tr>
        <td class="separador" valign="bottom" colspan="2">
                <span><%=I18n.t('Sistema.Body.Vistas.General.datos')%> <%=I18n.t('Sistema.Body.Vistas.General.de')%><%=I18n.t('Sistema.Body.Modelos.Errores.unidad_produccion')%></span>
        </td>
       <td></td>
    </tr>
    <tr>
        <td>
           <label>&nbsp;<%=I18n.t('Sistema.Body.Vistas.General.nombre')%></label>
        </td>
       <td>
         <%= @solicitud.unidad_produccion.nombre -%>
       </td>
    </tr>
    <tr>
        <td>
           <label>&nbsp;<%=I18n.t('Sistema.Body.Vistas.General.estado')%></label>
        </td>
       <td>
         <%=  @solicitud.unidad_produccion.ciudad.estado.nombre -%>
       </td>
    </tr>
    <tr>
        <td>
           <label>&nbsp;<%=I18n.t('Sistema.Body.Vistas.General.ciudad')%></label>
        </td>
       <td>
         <%=  @solicitud.unidad_produccion.ciudad.nombre -%>
       </td>
    </tr>
    <tr>
        <td>
           <label>&nbsp;<%=I18n.t('Sistema.Body.Vistas.General.municipio')%></label>
        </td>
       <td>
         <%= @solicitud.unidad_produccion.municipio.nombre  -%>
       </td>
    </tr>
    <tr>
        <td>
           <label>&nbsp;<%=I18n.t('Sistema.Body.Vistas.General.parroquia')%></label>
        </td>
       <td>
         <%= @solicitud.unidad_produccion.parroquia.nombre -%>
       </td>
    </tr>
    <tr>
        <td>
           <label>&nbsp;<%=I18n.t('Sistema.Body.Vistas.General.superficie')%> <%=I18n.t('Sistema.Body.Vistas.General.hectareas')%></label>
        </td>
       <td>
         <%= @solicitud.unidad_produccion.total_hectareas_f -%>
       </td>
    </tr>
    <tr>
        <td>
           <label>&nbsp;<%=I18n.t('Sistema.Body.Controladores.TenenciaUnidadProduccion.FormTitles.form_title_record')%> <%=I18n.t('Sistema.Body.Controladores.VocacionTierra.FormTitles.form_title_record')%></label>
        </td>
       <td>
         <%=  -%>
       </td>
    </tr>
    <tr>
        <td>
           <label>&nbsp;<%=I18n.t('Sistema.Body.Controladores.VocacionTierra.FormTitles.form_title_records')%></label>
        </td>
       <td>
         <%=  -%>
       </td>
    </tr>
  </table>
</div>
