<tr id="row_<%= @comunidad_indigena.id %>_edit">
  <td class="lista-form" colspan="6">

    <%= form_title_edit @comunidad_indigena.comunidad_indigena.to_s %>

    <%= error "row_#{@comunidad_indigena.id}" %>

    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :id => @comunidad_indigena.id } ) do -%>
    <%= render :partial => 'form' %>
    <%= link_to_remote(
      image_tag(I18n.t('Sistema.Body.Imagenes.cancelar')),
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :method =>:get,
      :url => { :action => :cancel_edit, :id => @comunidad_indigena.id}) -%>
  </td>
</tr>
</table>
<% end -%>
</td>
</tr>
