<tr id="row_<%= @perito.id %>_edit">
  <td class="lista-form" colspan="6">

    <%= form_title_edit @perito.nombre_corto %>

    <%= error "row_#{@perito.id}" %>

    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :id => @perito.id } ) do -%>

    <%= render :partial => 'form' %>

    <%= link_to_remote(
      image_tag(I18n.t('Sistema.Body.Imagenes.cancelar')),
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :method =>:get,
      :url => { :action => :cancel_edit, :id => @perito.id}) -%>
  </td>
</tr>
</table>
<% end -%>
</td>
</tr>