
<div class="marco-titulo">
  <div>
    <div>
      <%= I18n.t('Sistema.Body.Vistas.DetallePrecioGaceta.Header.form_title')%>  <span class="titulo_modificar"></span>
    </div>
  </div>
</div>
<%= render 'basico/precio_gaceta/common/tabs' %>
<div class="marco-contenido2">

  <% unless @precio_gaceta.status == false %>
    <div class="marco-boton-in" id="button_new">
      <%= link_to(image_tag(image_path(I18n.t('Sistema.Body.Imagenes.agregar'))),
        :action => 'new', :precio_gaceta_id=>params[:precio_gaceta_id], :popup=>params[:popup] ) if vlink 'edit' %>
    </div>
  <%end%>

  <%= error %>
  <%= message %>

  <div class="lista-form" id="form_new" style="display: none"></div>

  <div id="list">
    <%= render "list" %>
  </div>

  <%= link_to( image_tag(image_path(I18n.t('Sistema.Body.Imagenes.cerrar'))),
    { :controller=> 'precio_gaceta', :action => :index },
    { :id=>'button_close' } ) -%>
</div>
