<% tipo_vialidad @tipo_vialidad if tipo_vialidad.nil? %>

<td>
  <%= tipo_vialidad.nombre  %>
</td>	
<td>
  <%= tipo_vialidad.descripcion  %>
</td>	
<td style="text-align: center">
  <%= format_bool(tipo_vialidad.activo)  %>
</td>
<td style="text-align: right">
  <%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.modificar'), :title=>I18n.t('Sistema.Body.Vistas.General.modificar')),
    :method => :get,
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :url => {:controller => 'tipo_vialidad', :action => :edit, :id => tipo_vialidad.id}) if vlink 'edit' -%>&nbsp;
  <%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.eliminar'), :title=>I18n.t('Sistema.Body.Controladores.Accion.eliminar')),
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
    :url => {:controller => 'tipo_vialidad', :action => :delete, :id => tipo_vialidad.id}) if vlink 'delete' -%>
</td>

