<tr id="row_<%= @tipo_vialidad.id %>_edit">
  <td class="lista-form" colspan="5">

    <%= form_title_edit @tipo_vialidad.nombre %>

    <%= error "row_#{@tipo_vialidad.id}" %>

    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :id => @tipo_vialidad.id } ) do -%>
    <%= render :partial => 'form' %>
    <%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.cancelar'), :title=>I18n.t('Sistema.Body.Vistas.General.cancelar')),
      :method => :get,
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :cancel_edit, :id => @tipo_vialidad.id}) -%>
  </td>
</tr>
</table>
<% end %>
</td>
</tr>
