<% @form_title = 'Usuarios' %>
<%= form_title_search %>

<%= form_remote_tag(
  :loading =>'image_load()',
  :loaded => 'image_unload()',
  :method => :get,
  :url => { :action => :list } ) do %>
  <table>
    <tr>
      <td style="width: 100px">
        <label><%=I18n.t('Sistema.Body.Controladores.Usuario.FormTitles.form_title_record')%></label>
      </td>
      <td>
        <%= text_field_tag 'nombre_usuario', '', :class=>'text', :maxlength=>'30', :style=>'width: 180px'  %>
      </td>
      <td>
        <%= image_submit_tag(I18n.t('Sistema.Body.Imagenes.buscar'), :title=>I18n.t('Sistema.Body.Vistas.General.buscar')) -%>
      </td>
    </tr>
  </table>
<% end %>
<%= form_remote_tag(
  :loading =>'image_load()',
  :loaded => 'image_unload()',
  :method => :get,
  :url => { :action => :list } ) do %>
  <table>
    <tr>
      <td style="width: 110px">
        <label><%=I18n.t('Sistema.Body.Vistas.General.primer_nombre')%></label>
      </td>
      <td>
        <%= text_field_tag 'primer_nombre', '', :class=>'text', :maxlength=>'20', :style=>'width: 120px'  %>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td style="width: 110px">
        <label><%=I18n.t('Sistema.Body.Vistas.General.primer_apellido')%></label>
      </td>
      <td>
        <%= text_field_tag 'primer_apellido', '', :class=>'text', :maxlength=>'20', :style=>'width: 120px'  %>
      </td>
      <td>
        <%= image_submit_tag(I18n.t('Sistema.Body.Imagenes.buscar'), :title=>I18n.t('Sistema.Body.Vistas.General.buscar')) -%>
      </td>
    </tr>
  </table>
<% end %>

<%= error %>
<%= message %>

<div id="list">
</div>
