<div id="tabs">
  <ul>
<%
  action_name = controller.action_name
  controller_name = controller.controller_name
  if controller_name=='tasa'
%>
    <li id="actual"><div><a href="#"><%= I18n.t('Sistema.Body.Vistas.General.datos_basicos')%></a></div></li>
<%
  else
%>
    <li><div>
      <%= link_to(I18n.t('Sistema.Body.Vistas.General.datos_basicos'), :controller => 'tasa', :action => 'edit', :id => @tasa.id) if action_name=='index'  %>
      <%= link_to(I18n.t('Sistema.Body.Vistas.General.datos_basicos'), :controller => 'tasa', :action => 'view', :id => @tasa.id) if action_name=='view'  %>
    </div></li>
<%
  end
  if @tasa.id
    if controller_name=='tasa_valor'
%>
      <li id="actual"><div><a href="#"><%= I18n.t('Sistema.Body.Vistas.General.valores')%></a></div></li>
<%
    else
%>
      <li><div>
        <%= link_to(I18n.t('Sistema.Body.Vistas.General.valores'), :controller => 'tasa_valor', :action => 'index', :tasa_id => @tasa.id) if action_name=='edit'  %>
        <%= link_to(I18n.t('Sistema.Body.Vistas.General.valores'), :controller => 'tasa_valor', :action => 'view', :tasa_id => @tasa.id) if action_name=='view' %>
      </div></li>
<%
    end
  end
%>
  </ul>
</div>
