<table>
  <tr>
    <td style="width: 60px">
      <label><%= I18n.t('Sistema.Body.Vistas.General.nombre') %>&ensp;</label><label class="requerido">(*)</label>
    </td>
    <td style="width: 620px">
      <%= text_field 'departamento', 'nombre', :class=>'text', :style=>'width: 180px', :maxlength=>'30'  -%>
    </td>
  </tr>
  <tr>
    <td style="width: 150px">
      <label><%= I18n.t('Sistema.Body.Vistas.Form.descripcion') %></label><label class="requerido"> (*)</label>
    </td>
    <td>
      <%= text_area 'departamento', 'descripcion', :class=>'text', 
        :style=>'width: 500px; height: 60px',:onKeyUp=>'textCounter(this,300)' -%>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: right">
      <%= image_submit_tag(I18n.t('Sistema.Body.Imagenes.guardar'), :title=> I18n.t('Sistema.Body.Vistas.General.guardar'), :onclick=>"if (varEnviado) { return false; } else {varEnviado = true;}", :id=>'button_save') -%>&nbsp;