<% sitio_colocacion @sitio_colocacion if sitio_colocacion.nil? %>

<td>
  <%= sitio_colocacion.sitio  %>
</td>	
<td>
  <%= sitio_colocacion.nombre  %>
</td>	
<td style="text-align: center">
  <%= format_bool(sitio_colocacion.activo)  %>
</td>
<td style="text-align: right">
  <%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.modificar'), :title=>I18n.t('Sistema.Body.Vistas.General.modificar')),
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :method => :get,
    :url => {:controller => 'sitio_colocacion', :action => :edit, :id => sitio_colocacion.id}) if vlink 'edit' -%>&nbsp;
  <%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.eliminar'), :title=>I18n.t('Sistema.Body.Controladores.Accion.eliminar')),
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
    :url => {:controller => 'sitio_colocacion', :action => :delete, :id => sitio_colocacion.id}) if vlink 'delete' -%>
</td>

