<table class="lista" style="width: 100%">
  <thead>
     <thead>
    <tr>
      <th style="width: 170px" <%= sort_class_helper('condicion_pasto.nombre') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.nombre'), 'nombre', 'list' %>
      </th> 			
      <th style="width: 480px" <%= sort_class_helper('condicion_pasto.descripcion') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.descripcion'), 'descripcion', 'list' %>
      </th> 	
      <th style="width: 80px" <%= sort_class_helper('condicion_pasto.activo') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.activo'), 'activo', 'list' %>
      </th> 			 			
      <th style="width: 100px">
        <%= I18n.t('Sistema.Body.Vistas.General.acciones')%>
      </th>
    </tr>			
  </thead>
  </thead>
  <tbody id="list_body">
    <%
    even_odd = 1
    @list.each {|tipo_credito|
      even_odd = 1 - even_odd %>
      <%= render :partial => 'row', :locals => { :tipo_credito => tipo_credito, :even_odd => even_odd } -%>
    <% } %>
  </tbody>
</table>

<%= form_pagination %>