<% tasa = @tasa if tasa.nil? %>
<td style="text-align: left">
  <%= tasa.sector.nombre %>
</td>
<td style="text-align: left">
  <%= tasa.sub_sector.nombre %>
</td>
<td style="text-align: left">
  <%= tasa.rubro.nombre %>
</td>
<td style="text-align: left">
  <%= tasa.sub_rubro.nombre %>
</td>
<td>
  <%= tasa.nombre  %>
</td>
<td>
  <%= tasa.descripcion  %>
</td>

<td style="text-align: right">
  <%= link_to image_tag(image_path(I18n.t('Sistema.Body.Imagenes.consultar'))), :action => 'view', :id => tasa.id %>&nbsp;
  <%= link_to(image_tag(image_path(I18n.t('Sistema.Body.Imagenes.modificar'))), :action => 'edit', :id => tasa.id) if vlink 'edit' %>&nbsp;
  <%#= link_to_remote(
    image_tag(image_path(I18n.t('Sistema.Body.Imagenes.eliminar'))),
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
    :url => {:controller => 'tasa', :action => :delete, :id => tasa.id}) if vlink 'delete' -%>
</td>
