<table class="lista" style="width: 100%">
  <thead>
  <tr>
    <th style="width: 100px" <%= sort_class_helper('sector_id') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.sector'), 'sector_id', 'list' %>
    </th>
    <th style="width: 100px" <%= sort_class_helper('sub_sector_id') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.sub_sector'), 'sub_sector_id', 'list' %>
    </th>
    <th style="width: 100px" <%= sort_class_helper('rubro_id') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.rubro'), 'rubro_id', 'list' %>
    </th>
    <th style="width: 100px" <%= sort_class_helper('sub_rubro_id') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.sub_rubro'), 'sub_rubro_id', 'list' %>
    </th>
    <th style="width: 150px" <%= sort_class_helper('nombre') %>>
      <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.nombre'), 'nombre', 'list' %>
      </th>
    <th style="width: 150px" <%= sort_class_helper('descripcion') %>>
      <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.descripcion'), 'descripcion', 'list' %>
    </th>

    <th style="width: 50px">
      <%= I18n.t('Sistema.Body.Vistas.General.acciones')%>
    </th>
  </tr>
  </thead>
  <tbody id="list_body">
<%
  even_odd = 1
  for tasa in @list
    even_odd = 1 - even_odd %>
  <%= render :partial => 'row', :locals => { :tasa => tasa, :even_odd => even_odd } -%>
<% end %>
</tbody>
</table>

<%= form_pagination %>
