<%= render :partial=>'basico/instancia_comite_estadal/common/tabs' -%>
<div class="marco-contenido2">
  <%=form_remote_tag(
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :method=>:get,
    :url => { :action => :save_comite,:id=>@comite.id }) do -%>
    
  <input type="hidden" id="comite_id" name="id" value="<%=@comite.id-%>" />
  <div id="form_datos_basicos" <%if @tab=="punto_cuenta" %> style="display:none;"  <%end%>>
    <%= render :partial=>'form_datos_basicos_view' -%>
  </div>
  <div id="form_punto_cuenta" <%if @tab=="datos_basicos" %> style="display:none;"  <%end%>>
    <%= render :partial=>'form_punto_cuenta_view' -%>
  </div>
  <span style="display:none;" id="buttons_edit">
    <%= image_submit_tag(I18n.t('Sistema.Body.Imagenes.guardar'), :id=>'button_save' ) -%>&nbsp;
  </span>
  
  <%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.cerrar')),
    { :action => :index },
    { :id=>'button_cerrar' } ) -%> 
  
  <input type="hidden" id="tab_actual" name="tab_actual" value="<%=@tab%>" />
  <% end -%>
</div>
<script type="text/javascript">  
  function show_content_tabs(_this){
    $("form_punto_cuenta","form_datos_basicos").invoke("toggle");
    $$('#tabs li').each(function(item) {item.id = (item.id=="actual") ? "" : "actual";});
    $("tab_actual").value=_this.id;   
  }  
  Event.observe(window, 'load', function() {
    $("button_new").hide();
  });  
</script>
