<% item = @ciclo_productivo if item.nil? %>
<td style="text-align: center">
	<%= item.id %>
</td>
<td style="text-align: center">
	<%= item.numero_contrato %>
</td>
<td style="text-align: center">
	<%= item.nombre %>
</td>

<td style="text-align: center">
	<%= item.fecha_contrato_f %>
</td>

<td style="text-align: center">
  <% if item.naturaleza == 'N'  %>
    <%=I18n.t('Sistema.Body.Vistas.General.nacional')%>
  <% else %>
    <%=I18n.t('Sistema.Body.Vistas.General.internacional')%>
  <% end %>
</td>

<td style="text-align: center">
	<%= link_to_remote(
          image_tag(I18n.t('Sistema.Body.Imagenes.modificar')),
	  :loading =>'image_load()',
 	  :loaded => 'image_unload()',
 	  :method =>:get,
          :url => {:controller => 'contrato_maquinaria_equipo', :action => :edit, :id => item.id}) if vlink 'edit' -%>
	<%= link_to_remote(
          image_tag(I18n.t('Sistema.Body.Imagenes.eliminar')),
	  :loading =>'image_load()',
 	  :loaded => 'image_unload()',
          :confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
          :url => {:controller => 'contrato_maquinaria_equipo', :action => :delete, :id => item.id}) if vlink 'delete' -%>
</td>
