<tr id="row_<%= @contrato_maquinaria_equipo.id %>_edit">
  <td class="lista-form" colspan="6">
    <%= form_title_edit @contrato_maquinaria_equipo.nombre %>

    <%= error "row_#{@contrato_maquinaria_equipo.id}" %>

    <%= form_remote_tag(
      :loading =>'image_load()',:loaded => 'image_unload()',
      :url => { :action => :save_edit, :id => @contrato_maquinaria_equipo.id } ) do-%>
      <%= render 'form' %>
      <%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.cancelar')),
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :method =>:get,
            :url => { :action => :cancel_edit, :id => @contrato_maquinaria_equipo.id}) -%>
            </td>
            
        </tr>
      </table>
    <% end -%>
  </td>
</tr>
