<table class="lista" style="width: 100%">
  <thead>
    <tr>
      <th style="width: 260px" <%= sort_class_helper('tipo') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.tipo'), 'tipo', 'list' %>
      </th>
      <th style="width: 285px" <%= sort_class_helper('email') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.correo_electronico'), 'email', 'list' %>
      </th>

    </tr>
  </thead>
  <tbody id="list_body">
    <%  
    even_odd = 1
    for empresa_email in @list
      even_odd = 1 - even_odd %>

      <% empresa_email = @empresa_email if empresa_email.nil? %>
      <tr class="lista<%= even_odd %>" id="row_<%= empresa_email.id %>">
        <td>
          <%= empresa_email.tipo_nombre  %>
        </td>
        <td>
          <%= empresa_email.email %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_pagination %>