<td>
  <%= solicitud.numero %>
</td>
<td>
  <%= solicitud.estado %>
</td>
<td>
  <%= solicitud.municipio %>
</td>
<td>
  <%= solicitud.parroquia %>
</td>
<td>
  <%= solicitud.cedula_rif %>
</td>
<td>
  <%= solicitud.nombre %>
</td>
<td>

  <span style="color: #FF0000"><b><%= solicitud.estatus %></b></span>
</td>
<td> 
  <%= solicitud.sector %>
</td>
<td>
  <%= solicitud.unidad_produccion %>
</td>
<td>
  <%= solicitud.usuario %>
</td>


<td align="center">

  <%= link_to image_tag(I18n.t('Sistema.Body.Imagenes.consultar'),:title=>'Consultar'),
    {:action => :view,
    :id => solicitud.solicitud_id,
    :controller => '/solicitudes/solicitud',
    :controlador => '/visitas/visita_asignar_tramite'} %>


  <%= link_to image_tag('reasignar.jpg',:title=>'Re-asignar'),
    {:action => :reasignar,
    :id => solicitud.solicitud_id} %>

</td>