<div class="marco-contenido">

  <div class="marco-titulo"><div><div>
	<%= "#{I18n.t('Sistema.Body.Vistas.General.asignando')} #{I18n.t('Sistema.Body.Vistas.General.tecnico')} #{I18n.t('Sistema.Body.Vistas.General.al')} #{I18n.t('Sistema.Body.Vistas.General.solicitud')}" %>
</div></div></div>

    <%= form_remote_tag(
        :loading =>'image_load()',
        :loaded => 'image_unload()',
        :url => { :action => :save_asignar, :id=>@solicitud.id } ) do -%>
      <%= render :partial => 'form_detalle' %>
  <br></br>
      <%= link_to( image_tag("boton_cerrar.gif"),
			{ :action => :index },
			{ :id=>'button_close' } ) -%>
    <% end -%>
    <%= error %>
    <div class="msg-notice" id="message" style="display: block; text-align: center">
      <%= I18n.t('Sistema.Body.Vistas.General.asignado_tecino_tramite') %>
    </div>

</div>