<tr id="row_<%= @clase.id %>_edit">
  <td class="lista-form" colspan="6">
    <%= form_title_edit @clase.nombre %>

    <%= error "row_#{@clase.id}" %>

    <%= form_remote_tag(
      :loading =>'image_load()',:loaded => 'image_unload()',
      :url => { :action => :save_edit, :id => @clase.id } ) do -%>
    <%= render :partial => 'form' %>
    <%= link_to_remote(
      image_tag(I18n.t('Sistema.Body.Imagenes.cancelar')),:loading =>'image_load()',:loaded => 'image_unload()',
      :method=>:get, :url => { :action => :cancel_edit, :id => @clase.id})
    -%>
  </td>
  <td></td>
  <td></td>
  <td></td>
</tr>
</table>
<% end -%>
</td>
</tr>