<script language="javascript">
  function abrirCampos(chk, id){
    if (chk.checked == true){
      document.getElementById('fecha_liquidacion_' + id).disabled = false;
      document.getElementById('numero_cheque_' + id).disabled = false;
    }else{
      document.getElementById('fecha_liquidacion_' + id).disabled = true;
      document.getElementById('numero_cheque_' + id).disabled = true;
      document.getElementById('fecha_liquidacion_' + id).value = '';
      document.getElementById('numero_cheque_' + id).value = '';

    }
  }
</script>
<div class="marco-contenido">
  <%= form_title_search %>

  <%= form_remote_tag(
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :method => :get,
    :url => { :action => :list } ) do -%>

    <table>
      <tr>
        <td>
          <label><%=I18n.t('Sistema.Body.Vistas.General.estado')%></label>
        </td>

        <td>
          <%= select(
            'estado', 'id',
            @estado_select.map{|e| [e.nombre, e.id]},
            {:prompt=> I18n.t('Sistema.Body.Vistas.Form.seleccionar')},
            { :class=>'select', :onchange=>'inputChange();' } ) %>
        </td>

      </tr>

      <tr>
        <td style="width: 30%">
          <label><%=I18n.t('Sistema.Body.Vistas.General.sector')%></label>
        </td>
        <td style="width: 70%">
          <% sector_onchange = remote_function(
            :loading =>'image_load()',
            :loaded => 'image_unload()',
            :method=>:get,
            :url=>{:controller=>'solicitudes/solicitud_consultoria_juridica',
              :action=>:sector_form_change },
            :with=>"'sector_id='+value" ) %>
          <%= select(
            'sector_id', '',
            @sector.map{|i| [i.nombre, i.id]},
            {:prompt=> I18n.t('Sistema.Body.Vistas.Form.seleccionar') } ,
            { :class=>'select',:onchange=>sector_onchange + ';inputChange();'}) %>
        </td>
      </tr>
      <tr>
        <td style="width: 30%">
          <label><%=I18n.t('Sistema.Body.Vistas.General.sub_sector')%></label>
        </td>
        <td style="width: 70%">
          <% sub_sector_onchange = remote_function(
            :loading =>'image_load()',
            :loaded => 'image_unload()',
            :method=>:get,
            :url=>{:controller=>'solicitudes/solicitud_consultoria_juridica',
              :action=>:sub_sector_form_change },
            :with=>"'sub_sector_id='+value" ) %>
          <div id="sub-sector-select">
            <%= select(
              'sub_sector_id', '',
              @sub_sector_list.map{|i| [i.nombre, i.id]},
              {:prompt=> I18n.t('Sistema.Body.Vistas.Form.seleccionar') } ,
              { :class=>'select',:onchange=>sub_sector_onchange + ';inputChange();'}) %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label><%=I18n.t('Sistema.Body.Vistas.General.rubro')%></label>
        </td>
        <td>
          <% rubro_onchange = remote_function(
            :loading =>'image_load()',
            :loaded => 'image_unload()',
            :method=>:get,
            :url=>{:controller=>'solicitudes/solicitud_consultoria_juridica',
              :action=>:rubro_form_change },
            :with=>"'rubro_id='+value" ) %>
          <div id="rubro-select">
            <%= select(
              'rubro_id', '',
              @rubro_list.map{|i| [i.nombre, i.id]},
              { :prompt=> I18n.t('Sistema.Body.Vistas.Form.seleccionar') },
              { :class=>'select',:onchange=>rubro_onchange + ';inputChange();'} ) %>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 30%">
          <label><%=I18n.t('Sistema.Body.Vistas.General.sub_rubro')%></label>
        </td>
        <td style="width: 70%">
          <% sub_rubro_onchange = remote_function(
            :loading =>'image_load()',
            :loaded => 'image_unload()',
            :method=>:get,
            :url=>{:controller=>'solicitudes/solicitud_consultoria_juridica',
              :action=>:sub_rubro_form_change },
            :with=>"'sub_rubro_id='+value" ) %>
          <div id="sub-rubro-select">
            <%= select(
              'sub_rubro_id', '',
              @sub_rubro_list.map{|i| [i.nombre, i.id]},
              {:prompt=> I18n.t('Sistema.Body.Vistas.Form.seleccionar') } ,
              { :class=>'select',:onchange=>sub_rubro_onchange + ';inputChange();'}) %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label><%=I18n.t('Sistema.Body.Vistas.General.actividad')%></label>
        </td>
        <td>
          <div id="actividad-select">
            <%= select(
              'actividad_id', '',
              @actividad_list.map{|i| [i.nombre, i.id]},
              { :prompt=> I18n.t('Sistema.Body.Vistas.Form.seleccionar') },
              { :class=>'select',:onchange=>'inputChange();'} ) %>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <label><%=I18n.t('Sistema.Body.Vistas.Form.nro_tramite')%></label>
        </td>
        <td>
          <%= text_field_tag 'solicitud', '', :class=>'text', :maxlength=>'8', :style=>'width: 150px',:onkeypress=>' return NumberKey(event);'  %>
        </td>
      </tr>

      <tr>
        <td>
          <label><%=I18n.t('Sistema.Body.Vistas.VisitaSolicitud.Etiquetas.cedula_rif')%></label>
        </td>
        <td>

          <select name="tipo" id="tipo" class="select">
            <option value="<%= I18n.t('Sistema.Body.General.TipoDocumento.venezolano')%> "><%= I18n.t('Sistema.Body.General.TipoDocumento.venezolano')%></option>
            <option value="<%= I18n.t('Sistema.Body.General.TipoDocumento.extranjero')%> "><%= I18n.t('Sistema.Body.General.TipoDocumento.extranjero')%></option>
            <option value="<%= I18n.t('Sistema.Body.General.TipoDocumento.juridico')%>-"><%= I18n.t('Sistema.Body.General.TipoDocumento.juridico')%></option>
            <option value="<%= I18n.t('Sistema.Body.General.TipoDocumento.gobierno')%>-"><%= I18n.t('Sistema.Body.General.TipoDocumento.gobierno')%></option>
          </select>
          <%= text_field_tag 'cedula', '', :class=>'text', :maxlength=>'10', :style=>'width: 150px'  %> <%= I18n.t('Sistema.Body.General.ejemplo_documento')%>
        </td>
      </tr>

      <tr>
        <td>
          <label><%=I18n.t('Sistema.Body.General.beneficiario')%></label>
        </td>
        <td>
          <%= text_field_tag 'nombre', '', :class=>'text', :maxlength=>'100', :style=>'width: 300px'  %>
        </td>
      </tr>

      <tr>
        <td>
          <label><%= I18n.t('Sistema.Body.Modelos.Programa.Columnas.moneda') %>:</label>
        </td>
        <td><%= select(
            'moneda_id', '',
            options_from_collection_for_select(@moneda_list, 'id', 'nombre'),
            {:prompt => "#{I18n.t('Sistema.Body.Vistas.Form.seleccionar')}"},
            {:class=>'select', :onchange=>'inputChange();'} ) %>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <%= image_submit_tag(I18n.t('Sistema.Body.Imagenes.buscar'),:onclick=>"$('errorExplanation').style.display='none';") -%>
        </td>
      </tr>

    </table>

  <% end %>


  <%= error %>
  <%= message %>
  <div id="errorExplanation" class="errorExplanation" style="display: none; text-align: left"> </div>
  <div id="list">
  </div>

</div>
