<div id="tabs">
	<ul>
<%
	action_name = controller.action_name
	controller_name = controller.controller_name


	if controller_name!='visita_decision'
%>
		<li id="actual"><div><a href="#">Condiciones de Acuicultura</a></div></li>
<%
	else
%>
		<li><div>
		      <%= link_to('Condiciones de Acuicultura', :controller => 'condiciones_acuicultura', :action => 'index', :id=>@visitas.id,:siniestro_checked=>@tengo_siniestro,:popup=>params[:popup])  %>

		</div></li>

<%
	end
#	if @embarcacion



		if controller_name!='visita_decision'
%>
			<li id="actual"><div><a href="#">Cultivo de Lagunas</a></div></li>
<%
		else
%>
			<li><div>
			     <%= link_to('Cultivo de Lagunas', :controller => 'cultivo_laguna', :action => 'index', :id=>@visitas.id,:siniestro_checked=>@tengo_siniestro, :popup=>params[:popup], :id_embarcacion => @id_embarcacion)  %>

			</div></li>
<%
		end




		if controller_name!='visita_decision'
%>
			<li id="actual"><div><a href="#">Calidad de Agua y Alimentos</a></div></li>
<%
		else
%>
			<li><div>
			     <%= link_to('Calidad de Agua y Alimentos', :controller => 'calidad_agua_alimento', :action => 'index', :id=>@visitas.id,:siniestro_checked=>@tengo_siniestro, :popup=>params[:popup], :id_embarcacion => @id_embarcacion)  %>

			</div></li>
<%
		end

      if controller_name=='visita_decision'
%>
              <li id="actual"><div><a href="#">Recomendaci&oacute;n</a></div></li>
<%
      else
%>
              <li><div>
              <%= link_to('Recomendaci&oacute;n', :controller => 'visita_decision', :action => 'edit', :id => @visitas.id,:siniestro_checked=>@tengo_siniestro, :popup=>params[:popup]) if (action_name == 'index' || action_name == 'edit') %>

          </div></li>
<%
      end%>


  <% 
if @tengo_siniestro=="1"
 #if ( !@visitas.PastizalesPotreros.nil?  ||  !@visitas.Semovientes.nil? )
      if controller_name=='siniestro'%>

        <li id="actual"><div><a href="#">Pérdida</a></div></li>
      <%else%>
        <li>
          <div>
          <%= link_to('Pérdida', :controller => '/solicitudes/siniestro', :action => 'index', :visita_id => @visitas.id,:siniestro_checked=>1, :popup=>params[:popup])  %>
          <!-- anteriormente estaba esta -->
          <%#= link_to_remote('Pérdida',
            :loading =>'image_load()',
            :loaded => 'image_unload()',
            :url => {:controller=>'solicitudes/siniestro',:action=>:index, :visita_id =>@visitas.id,:siniestro_checked=>1})
          -%>
          </div>
        </li>
  <%  end
end
    #end
  %>




     <% if @visitas.DecisionVisita
        unless !@visitas.DecisionVisita.recomienda_generar_desembolso
          if controller_name!='visita_decision'
%>
              <li id="actual"><div><a href="#">Recomendaci&oacute;n del Desembolso</a></div></li>
<%
          else
%>
              <li><div>
              <%= link_to('Recomendaci&oacute;n del Desembolso', :controller => 'recomendacion_plan_inversion', :action => 'index', :id => @visitas.id,:siniestro_checked=>@tengo_siniestro, :popup=>params[:popup])  %>

              </div></li>
<%
          end
        end
     end

%>


	</ul>
</div>

