<tr id="row_<%= @tipo_documento.id %>_edit">
  <td class="lista-form" colspan="5">

    <%= form_title_edit @tipo_documento.tipo %>

    <%= error "row_#{@tipo_documento.id}" %>

    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :id => @tipo_documento.id } ) do -%>
    <%= render :partial => 'form' %>
    <%= link_to_remote(
      image_tag(I18n.t('Sistema.Body.Imagenes.cancelar')),
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :method =>:get,
      :url => { :action => :cancel_edit, :id => @tipo_documento.id}) -%>
  </td>
</tr>
</table>
<% end -%>
</td>
</tr>
