<table class="lista" style="width: 100%">
  <thead>
    <tr>

      <th style="width: 200px" <%= sort_class_helper('tipo_documento.tipo') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.nombre'), 'nombre', 'list' %>
      </th> 			
      <th style="width: 300px" <%= sort_class_helper('tipo_documento.descripcion') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.descripcion'), 'descripcion', 'list' %>
      </th> 	
      <th style="width: 10px" <%= sort_class_helper('tipo_documento.activo') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.activo'), 'activo', 'list' %>
      </th> 			 			
      <th style="width: 10px">
        <%= I18n.t('Sistema.Body.Vistas.General.acciones')%>
      </th>
    </tr>		
  </thead>
  <tbody id="list_body">
    <%  
    even_odd = 1
    for tipo_documento in @list
      even_odd = 1 - even_odd %>
      <%= render :partial => 'row', :locals => { :tipo_documento => tipo_documento, :even_odd => even_odd } -%>
    <% end %>
  </tbody>
</table>
<%= form_pagination %>
