<td>
  <% if ViewListSolicitud.devuelta(solicitud.solicitud_id) == true %>
    <%= link_to_remote(image_tag('error.gif',:title=>I18n.t('Sistema.Body.Modelos.Solicitud.Errores.ver_observaciones_devolución')),
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :method => :get,
      :url => {:action => :ver_observaciones, :id => solicitud.solicitud_id}) -%>
  <% end %>
  <%= solicitud.numero %>
</td>

<td>
  <%= solicitud.cedula_rif %>
</td>

<td>
  <%= solicitud.nombre %>
</td>

<td>
  <% if ViewListSolicitud.devuelta(solicitud.solicitud_id) == true %>
    <span style="color: white"><b><%= solicitud.estatus %></b></span>
  <% else %>
    <span style="color: #FF0000"><b><%= solicitud.estatus %></b></span>
  <% end %>
</td>
<td>

  <%= solicitud.sector %>
</td>

<td>
  <%= solicitud.sub_sector %>
</td>

<td>
  <%= solicitud.rubro %>
</td>

<td>
  <%= solicitud.sub_rubro %>
</td>

<td>
  <%= solicitud.actividad %>
</td>

<td align="center">
  <% if solicitud.consultoria == true %>
    <%= image_tag('activo.gif') %>
  <% elsif solicitud.consultoria == false %>
    <%= image_tag('inactivo.gif') %>
  <% end %>
</td>

<td align="center">
  <% if solicitud.consultoria == false %>
    <%= link_to_remote(
      image_tag(I18n.t('Sistema.Body.Imagenes.reversar'),:title=>'Rechazar'),
      :loading =>'image_load()',
      :method => :get,
      :confirm => "¿#{I18n.t('Sistema.Body.Modelos.Solicitud.Mensajes.rechazar_solicitud')} #{solicitud.numero}?",
      :loaded => 'image_unload()',
      :url => {:action => :rechazar, :id => solicitud.solicitud_id}) if vlink 'rechazar' -%>
  <% end %>

  <%= link_to image_tag(I18n.t('Sistema.Body.Imagenes.consultar'),:title=>'Consultar'), 
    {:action => :view, 
    :id => solicitud.solicitud_id,
    :controlador => 'solicitud'} %>

  <%= link_to image_tag(I18n.t('Sistema.Body.Imagenes.modificar'),:title=>'Editar'), 
    {:action => :edit, 
    :id => solicitud.solicitud_id,
    :controlador => 'solicitud'} %>

  <% if solicitud.consultoria %>
    <!---       #Método llamada manual comentado para implementar la llamada automática --->
    <%#= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.enviar_flecha'),:title=>'Avanzar'),
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :method => :get,
      :confirm => "¿#{I18n.t('Sistema.Body.Modelos.Solicitud.Mensajes.avarzar_solicitud')} #{solicitud.numero}?",
      :id=>"button_enviar",
      :onclick=>"if (varEnviado) { return false; } else {varEnviado = true;}",
      :url => {:action => :avanzar, :id => solicitud.solicitud_id}) -%>

    <%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.enviar_flecha'),:title=>'Avanzar'),
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :method => :get,
      :confirm => "¿#{I18n.t('Sistema.Body.Modelos.Solicitud.Mensajes.avarzar_solicitud')} #{solicitud.numero}?",
      :id=>"button_enviar",
      :onclick=>"if (varEnviado) { return false; } else {varEnviado = true;}",
      :url => {:action => obtiene_accion(solicitud.estatus_id), :id => solicitud.solicitud_id}) -%>  
    <% end %>
</td>