<div class="marco-titulo">
  <div>
    <div>
      <%= I18n.t('Sistema.Body.Vistas.ProgramaProducto.Header.form_title_modificar')%>  <span class="titulo_modificar">'<%= @programa.alias %>'</span>
    </div>
  </div>
</div>

<%= render 'basico/programa/common/tabs' %>
<div class="marco-contenido2">

  <%= form_title_edit @producto.sector.nombre %>

  <%= render 'basico/programa_producto/common/tabs' %>
  <div class="marco-contenido2">
    <%= error  %>
    <%= message  %>

    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :programa_id => @programa.id, :id => @producto.id } ) do -%>

      <%= render 'form' %>

      <div id="buttons_edit" style="display: none">
        <%= form_buttons_edit :programa_id => @programa.id %>
      </div>

      <%= link_to( image_tag(image_path(I18n.t('Sistema.Body.Imagenes.cerrar'))),
        { :action => :index, :programa_id => @programa.id },
        { :id=>'button_close', } ) -%>

    <% end -%>
  </div>
</div>
