<% empresa_integrante_tipo = @empresa_integrante_tipo if empresa_integrante_tipo.nil? %>
<td align="center">
  <%= empresa_integrante_tipo.empresa_integrante.persona.cedula_nacionalidad.to_s << " " << empresa_integrante_tipo.empresa_integrante.persona.cedula.to_s %>
</td>
<td>
  <%= empresa_integrante_tipo.empresa_integrante.persona.primer_nombre %>
</td>
<td>
  <%= empresa_integrante_tipo.empresa_integrante.persona.primer_apellido %>
</td>
<td>
  <%= empresa_integrante_tipo.tipo_nombre %>
</td>
<td style="text-align: right">
  <%= link_to(image_tag(I18n.t('Sistema.Body.Imagenes.modificar'),:title =>'Editar'),
    :action => 'edit', :popup=>params[:popup], :empresa_id => @empresa.id, :id => empresa_integrante_tipo.id) %>&nbsp;
  <%= link_to_remote(
    image_tag(I18n.t('Sistema.Body.Imagenes.eliminar'),:title =>'Eliminar'),
    :loading =>'image_load()',
    :loaded => 'image_unload()',
    :confirm => I18n.t('Sistema.Body.Vistas.Helpers.Mensajes.esta_seguro'),
    :url => {:action => :delete, :empresa_id => @empresa.id, :id => empresa_integrante_tipo.id}) -%>
</td>