<table style="width: 100%">
  <tr>
    <td class="separador" valign="bottom" colspan="2">
      <span><%= I18n.t('Sistema.Body.Vistas.General.identificacion') %></span>
    </td>
  </tr>
  <tr>
    <td>
      <label><%= "#{I18n.t('Sistema.Body.Vistas.General.nro')} #{I18n.t('Sistema.Body.Vistas.General.cedula')}" %></label>
    </td>
    <td>
      <%= @empresa_integrante.persona.cedula -%>    			
    </td>
  </tr>
  <tr>
    <td>
      <label><%= I18n.t('Sistema.Body.Vistas.General.primer_nombre') %></label>
    </td>
    <td>
      <%= @empresa_integrante.persona.primer_nombre -%>    			
    </td>
  </tr>
  <tr>
    <td>
      <label><%= I18n.t('Sistema.Body.Vistas.General.segundo_nombre') %></label>
    </td>
    <td>
      <%= @empresa_integrante.persona.segundo_nombre -%>
    </td>
  </tr>
  <tr>
    <td>
      <label><%= I18n.t('Sistema.Body.Vistas.General.primer_apellido') %></label>
    </td>
    <td>
      <%= @empresa_integrante.persona.primer_apellido -%>
    </td>
  </tr>
  <tr>
    <td>
      <label><%= I18n.t('Sistema.Body.Vistas.General.segundo_apellido') %></label>
    </td>
    <td>
      <%= @empresa_integrante.persona.segundo_apellido -%>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <label><%= I18n.t('Sistema.Body.Vistas.General.sexo') %></label>
    </td>
    <td>
      <%= @empresa_integrante.persona.sexo_w -%>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <label><%= I18n.t('Sistema.Body.Vistas.General.estado_civil') %></label>
    </td>
    <td>
      <%= @empresa_integrante.persona.estado_civil_w -%>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <label><%= I18n.t('Sistema.Body.Vistas.General.nacionalidad') %></label>
    </td>
    <td>
      <%= @empresa_integrante.persona.venezolano_w -%>
    </td>
  </tr>
  <tr>
    <td>
      <label><%= I18n.t('Sistema.Body.Vistas.General.fecha_nacimiento') %></label>
    </td>
    <td>
      <%= @empresa_integrante.persona.fecha_nacimiento_f -%>
    </td>
  </tr>
  <tr>
    <td class="separador" valign="bottom" colspan="2">
      <span><%= I18n.t('Sistema.Body.Vistas.General.profesional') %></span>
    </td>
  </tr>
  <tr>
    <td style="width: 20%" valign="top">
      <label><%= "#{I18n.t('Sistema.Body.Vistas.General.tipo')} #{I18n.t('Sistema.Body.Vistas.General.asociado')}" %></label>
    </td>
    <td style="width: 80%">
      <%= @empresa_integrante_tipo.tipo_nombre -%>    		      
    </td>
  </tr>

  <tr>
    <td>
      <label><%= I18n.t('Sistema.Body.Vistas.General.cargo') %></label>
    </td>
    <td>
      <%= @empresa_integrante.cargo -%>
    </td>
  </tr>
  <tr>
    <td>
      <label><%= "#{I18n.t('Sistema.Body.Vistas.General.persona')} #{I18n.t('Sistema.Body.General.contacto')}" %></label>
    </td>
    <td>
      <%= format_bool @empresa_integrante.contacto -%>
    </td>
  </tr>
</table>



