<tr id="row_<%= @sucursal_casa_proveedora.id %>_edit">
	<td class="lista-form" colspan="8">

		<%= form_title_edit @sucursal_casa_proveedora.nombre %>

		<%= error "row_#{@sucursal_casa_proveedora.id}" %>

		<%= form_remote_tag(
		  :loading =>'image_load()',
			:loaded => 'image_unload()',
		  :url => { :action => :save_edit, :id => @sucursal_casa_proveedora.id } ) do-%>
					<%= render 'form' %>
					<%= link_to_remote(image_tag(I18n.t('Sistema.Body.Imagenes.cancelar')),
		                :method => :get,
					    :loading =>'image_load()',
						:loaded => 'image_unload()',
		                :url => { :action => :cancel_edit, :id => @sucursal_casa_proveedora.id}) -%>
			   </td>
		    </tr>
		  </table>
		<% end -%>
	</td>
</tr>
