<table class="lista" style="width: 100%">
		<thead>
		<tr>
			
			<th style="width: 280px" <%= sort_class_helper('sucursal_casa_proveedora.nombre') %>>
				<%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.nombre') << " " << I18n.t('Sistema.Body.Vistas.General.de') << " " << I18n.t('Sistema.Body.Vistas.General.la') << " " << I18n.t('Sistema.Body.Vistas.General.sucursal'), 'sucursal_casa_proveedora.nombre', 'list' %>
 			</th>
			<th style="width: 140px" <%= sort_class_helper('region.nombre') %>>
				<%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.region'), 'region.nombre', 'list' %>
 			</th>
			
			<th style="width: 140px" <%= sort_class_helper('sucursal_casa_proveedora.es_express') %>>
				<%= sort_link_helper I18n.t('Sistema.Body.General.es') << " " << I18n.t('Sistema.Body.Vistas.General.express'), 'sucursal_casa_proveedora.es_express', 'list' %>
 			</th>
 			<th style="width: 70px">
 			<%= I18n.t('Sistema.Body.Vistas.General.acciones')%>
 			</th>
		</tr>
		</thead>
		<tbody id="list_body">
<%
	even_odd = 1
	for sucursal_casa_proveedora in @list
		even_odd = 1 - even_odd %>
	<%= render :partial => 'row', :locals => { :sucursal_casa_proveedora => sucursal_casa_proveedora, :even_odd => even_odd } -%>
<% end %>
</tbody>
</table>
<%= form_pagination %>

