
<table class="lista" style="width: 100%">
  <thead>
    <tr>
      
      <th style="width: 200px" <%= sort_class_helper('nombre_arte_pesca') %>>
        <%= sort_link_helper "#{I18n.t('Sistema.Body.Vistas.General.nombre')} #{I18n.t('Sistema.Body.Controladores.ArtePesca.FormTitles.form_title_record')}", 'nombre_arte_pesca', 'list' %>
      </th>
      <th align="center" style="width: 200px" <%= sort_class_helper('es_propia') %>>
        <%= sort_link_helper "#{I18n.t('Sistema.Body.General.es')} #{I18n.t('Sistema.Body.Vistas.General.propia')}", 'es_propia', 'list' %>
      </th>

      <th style="width: 200px" <%= sort_class_helper('cantidad') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.cantidad'), 'cantidad', 'list' %>
      </th>
      <th style="width: 200px" <%= sort_class_helper('material') %>>
        <%= sort_link_helper I18n.t('Sistema.Body.Modelos.ArtePesca.Columnas.material'), 'material', 'list' %>
      </th>
      <th><%= I18n.t('Sistema.Body.Vistas.General.acciones')%></th>
    </tr>
  </thead>
  <tbody id="list_body">
    <%
    even_odd = 1
    for arte_pesca in @list
      even_odd = 1 - even_odd %>
      <%= render :partial => 'row', :locals => { :arte_pesca => arte_pesca, :even_odd => even_odd } -%>
    <% end %>
  </tbody>
</table>

<%= form_pagination %>

