
	<table class="lista" style="width: 100%">
		<thead>
		<tr>
			<th style="width: 280x" <%= sort_class_helper('nombre') %>>
				<%= sort_link_helper I18n.t('Sistema.Body.Vistas.General.nombre'), 'nombre', 'list' %>
 			</th>
 			<th style="width: 64px">
             <%= I18n.t('Sistema.Body.Vistas.General.acciones')%>
 			</th>
		</tr>
		</thead>
		<tbody id="list_body">
<%
	even_odd = 1
	for parroquias in @list
		even_odd = 1 - even_odd %>
	<%= render :partial => 'row', :locals => { :parroquias => parroquias, :even_odd => even_odd } -%>
<% end %>
</tbody>
</table>
<%= form_pagination %>

