<script language="JavaScript">
  function verifico(){
	
    if (document.getElementById('motores_es_propio_').checked == true){
      //es a solicitar
      document.getElementById('motores_sereal').style.display = 'none';
      document.getElementById('motores_sereal').value = '***No-aplica***';

    }else{
      document.getElementById('motores_sereal').style.display = 'block';
      document.getElementById('motores_sereal').value = '';

    }
  }
</script>

<div class="marco-titulo"><div><div>
      <%=I18n.t('Sistema.Body.Vistas.VisitaPastizalesPotreros.Etiquetas.modificando_informacion_visita')%><span style="color: #FF0000">'<%= @full_info %>'</span>
    </div></div></div>
<div id="contenedor_principal">
  <%= render :partial=>'visitas/control_visitas_pesca/embarcacion/common/tabs' %>

  <div class="marco-contenido2"> 
    <%
    begin
      controller.method(:new)
    %>
      <br>

      <div class="marco-boton-out" id="button_new">

        <table align="right">
          <tr>
            <td align="right">
              <label><%=I18n.t('Sistema.Body.Vistas.VisitaMotores.Etiquetas.seleccione_embarcacion_por_motor')%></label>
            </td>
            <td align="right"> 
              <% embarcaciones_onchange = remote_function(
                :loading =>'image_load()',
                :loaded => 'image_unload()',
                :method => :get,
                :url=>{:controller=>'motores',
                  :action=>:list },
                :with=>"'id_de_embarcacion='+value+'&id='+#{params[:id]}")
              @embarcaciones=Embarcacion.find(:all,:conditions=>"seguimiento_visita_id=#{@visita}", :order=>"nombre_embarcacion")
            %>

              <%= select('identificador_embarcacion','',
                @embarcaciones.map{|i| [i.nombre_embarcacion, i.id]},
                { :prompt=>I18n.t('Sistema.Body.Vistas.General.seleccionar') },
                { :class=>'select', 
                  :onchange=>embarcaciones_onchange+';inputChange();' } ) %>
            </td>
          </tr>
        </table>
        <br><br>
      </div>
    <%
    rescue NameError
    end
  %>

    <%= error %>
    <%= message %>

    <div class="lista-form" id="form_new" style="display: none"></div>
    <div id="list">
      <div id="list">
        <%= render :partial => 'list' -%>
      </div>
    </div>
  </div>
