<table class="lista" style="width: 100%">
  <thead>
  <tr>
    <th style="width: 260px" <%= sort_class_helper('modalidad_financiamiento.nombre') %>>
      <%= sort_link_helper 'I18n.t('Sistema.Body.Vistas.General.nombre'), 'modalidad_financiamiento.nombre', 'modalidad_financiamiento_list' %>
      </th>
    <th style="width: 285px" <%= sort_class_helper('modalidad_financiamiento.descripcion') %>>
      <%= sort_link_helper I18n.t('Sistema.Body.Vistas.Form.descripcion'), 'modalidad_financiamiento.descripcion', 'modalidad_financiamiento_list' %>
      </th>
  </tr>
  </thead>
  <tbody id="list_body">
    <%
      even_odd = 1
      for modalidad_financiamiento in @list
        even_odd = 1 - even_odd %>

        <% modalidad_financiamiento = @modalidad_financiamiento if modalidad_financiamiento.nil? %>
        <tr class="lista<%= even_odd %>" id="row_<%= modalidad_financiamiento.id %>">
          <td>
            <%= modalidad_financiamiento.nombre  %>
          </td>
          <td>
            <%= modalidad_financiamiento.descripcion %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>

<%= form_pagination %>
