<div class="marco-titulo"><div><div>
	Consultando <%= Etiquetas.etiqueta(9) %> Jurídico <span class="titulo_modificar">'<%= @empresa.alias %>'</span>
</div></div></div>

<%= render :partial=>'clientes/cliente_empresa/common/tabs' %>
<div class="marco-contenido2">

	 <%= form_title_view @empresa_direccion.tipo_nombre %>

	<%= render :partial=>'clientes/cliente_empresa_direccion/common/tabs' %>
	<div class="marco-contenido2">
		<%= error  %>
		<%= message  %>


			<%= render :partial => 'form_view' %>

			<div id="buttons_edit" style="display: none">
				<%= form_buttons_edit :empresa_id => @empresa.id, :popup=>params[:popup] %>
			</div>
			
			<%= link_to( image_tag(I18n.t('Sistema.Body.Imagenes.cerrar')),
                          { :controller => '/solicitudes/consulta_evaluacion_credito', :action => :index },
                          { :id=>'buton_cerrar' } ) -%>
			
		<%= end_form_tag -%>
	</div>
</div>