<tr id="row_<%= @unidad_produccion_colocacion.id %>_edit">

  <td class="lista-form" colspan="7">
    <%= form_title_edit @unidad_produccion_colocacion.sitio_colocacion.sitio %>

    <%= error "row_#{@unidad_produccion_colocacion.id}" %>

    <%= form_remote_tag(
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :url => { :action => :save_edit, :id=>@unidad_produccion_colocacion.id, :seguimiento_visita_id => @unidad_produccion_colocacion.seguimiento_visita_id } ) do -%>
    <%= render :partial => 'form' %>
    <%= link_to_remote(
      image_tag(I18n.t('Sistema.Body.Imagenes.cancelar')),
      :loading =>'image_load()',
      :loaded => 'image_unload()',
      :method =>:get,
      :url => { :action => :cancel_edit, :id=>@unidad_produccion_colocacion.id}) -%>
  </td>
</tr>
</table>
<% end -%>
</td>
</tr>